@import "../bootstrap-5.3.0-alpha2/scss/bootstrap";


body{
  width: 100%;
  min-height: 100vh;
}


//Login page
// Custom container
@mixin make-container($padding-x: $container-padding-x) {
  width: 100%;
  padding-bottom: 70px;
  padding-top: 70px;
  padding-right: $padding-x;
  padding-left: $padding-x;
  margin-right: auto;
  margin-left: auto;
}

// Usage
.custom-container {
  @include make-container();
}

//Custom button
@mixin button-variant(
  $background,
  $border,
  $color: color-contrast($background),
  $hover-background: if($color == $color-contrast-light, shade-color($background, $btn-hover-bg-shade-amount), tint-color($background, $btn-hover-bg-tint-amount)),
  $hover-border: if($color == $color-contrast-light, shade-color($border, $btn-hover-border-shade-amount), tint-color($border, $btn-hover-border-tint-amount)),
  $hover-color: color-contrast($hover-background),
  $active-background: if($color == $color-contrast-light, shade-color($background, $btn-active-bg-shade-amount), tint-color($background, $btn-active-bg-tint-amount)),
  $active-border: if($color == $color-contrast-light, shade-color($border, $btn-active-border-shade-amount), tint-color($border, $btn-active-border-tint-amount)),
  $active-color: color-contrast($active-background),
  $disabled-background: $background,
  $disabled-border: $border,
  $disabled-color: color-contrast($disabled-background)
) {
  --#{$prefix}btn-color: #{$color};
  --#{$prefix}btn-bg: #{$background};
  --#{$prefix}btn-border-color: #{$border};
  --#{$prefix}btn-hover-color: #{$hover-color};
  --#{$prefix}btn-hover-bg: #{$hover-background};
  --#{$prefix}btn-hover-border-color: #{$hover-border};
  --#{$prefix}btn-focus-shadow-rgb: #{to-rgb(mix($color, $border, 15%))};
  --#{$prefix}btn-active-color: #{$active-color};
  --#{$prefix}btn-active-bg: #{$active-background};
  --#{$prefix}btn-active-border-color: #{$active-border};
  --#{$prefix}btn-active-shadow: #{$btn-active-box-shadow};
  --#{$prefix}btn-disabled-color: #{$disabled-color};
  --#{$prefix}btn-disabled-bg: #{$disabled-background};
  --#{$prefix}btn-disabled-border-color: #{$disabled-border};
}

.btn-ct-submit{
  @include button-variant(#34A0D4,transparent);
}

@mixin button-size($padding-y, $padding-x, $font-size, $border-radius) {
  --#{$prefix}btn-padding-y: #{$padding-y};
  --#{$prefix}btn-padding-x: #{$padding-x};
  @include rfs($font-size, --#{$prefix}btn-font-size);
  --#{$prefix}btn-border-radius: #{$border-radius};
}

.btn-ct-size{
  @include  button-size(7px,20px,15px,3px);
}

.bg-image {
    background-image: url('../img/login-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;

}

.text-custom{
  color: #095479;
}

.logo-sizing-connexion{
  width: 150px;
  height: 110px;
}

.position-custom-log{
  bottom: 80px;
}

@mixin font-sizing($font-size){
  font-size: $font-size;
}

.font-size-custom{
  @include font-size(small);
}

//Index page

@mixin logo-sizing($width, $height){
  width: $width;
  height: $height;
}

.logo-sizing-base{
  @include logo-sizing(60px, 40px);
}

.logo-sizing-menu{
  @include logo-sizing(25px, 25px);
}

.logo-sizing-index{
  @include logo-sizing(150px, 150px);
}

.nav-item-custom:hover{
  background-color: rgba(52, 160, 212, 0.32);
}

.nav-item-custom{
  background-color: transparent;
}

.btn-logout-modal{
  @include button-variant(#34A0D4,transparent);
  @include  button-size(7px,20px,15px,3px)
}

.btn-logout-cancel-modal{
  @include button-variant(#E0E3E4,transparent);
  @include  button-size(7px,20px,15px,3px)
}

//page 403
.logo-sizing-403{
  @include logo-sizing(300px, 300px);
}

.btn-exit-403{
  @include button-variant(rgba(185, 200, 208, 0.42),transparent);
  @include  button-size(7px,65px,15px,3px)
}

//Account page
table td, th{

  text-align: center;
}

.btn-ct-page-tab{
  @include button-variant(#34A0D4,transparent);
  @include  button-size(0px,15px,15px,3px)
}

.btn-ct-edit{
  @include button-variant(#E7EBED,transparent);
  @include  button-size(2px,7px,15px,3px)
}

.btn-ct-add{
  @include button-variant(#34A0D4,transparent);
  @include  button-size(5px,40px,15px,3px)
}
