@import "../bootstrap-5.3.0-alpha2/scss/bootstrap";

@mixin logo-sizing($width, $height){
  width: $width;
  height: $height;
}

@mixin font-sizing($font-size){
  font-size: $font-size;
}

body{
  width: 100%;
  min-height: 100vh;
}

//Login page
.btn-ct-submit{
  @include button-variant(#34A0D4,transparent);
}

.btn-ct-size{
  @include button-size(7px,20px,15px,3px);
}

.bg-image {
    background-image: url('../img/login-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;

}

.text-custom{
  color: #095479;
}

.logo-sizing-connexion{
  @include logo-sizing(150px, 110px);
}

.position-custom-log{
  bottom: 80px;
}

.font-size-custom{
  @include font-size(small);
}

//Index page
.logo-sizing-base{
  @include logo-sizing(60px, 40px);
}

.logo-sizing-menu{
  @include logo-sizing(25px, 25px);
}

.logo-sizing-index{
  @include logo-sizing(150px, 150px);
}

.nav-item-custom:hover{
  background-color: rgba(52, 160, 212, 0.32);
}

.nav-item-custom{
  background-color: transparent;
}

.btn-ct-modal{
  @include button-variant(#34A0D4,transparent);
  @include  button-size(7px,20px,15px,3px);
}

.btn-ct-cancel-modal{
  @include button-variant(#E0E3E4,transparent);
  @include  button-size(7px,20px,15px,3px);
}

//page 403
.logo-sizing-403{
  @include logo-sizing(300px, 300px);
}

.btn-exit-403{
  @include button-variant(rgba(185, 200, 208, 0.42),transparent);
  @include  button-size(7px,65px,15px,3px);
}

//Account + Apartment pages
table{
  th, td{
    text-align: center;
  }
  td{
    height: 60px;
  }
}

.btn-ct-page-tab{
  @include button-outline-variant(#34A0D4);
  @include  button-size(0px,15px,15px,3px);
}

.btn-ct-edit{
  @include button-variant(#E7EBED,transparent);
  @include  button-size(2px,7px,15px,3px);
}

.btn-ct-add{
  @include button-outline-variant(#34A0D4);
  @include button-size(5px,40px,15px,3px);
}

.btn-ct-add-s{
  @include button-outline-variant(#34A0D4);
  @include button-size(5px,10px,10px,3px);
}

.dropdown-menu{
  --#{$prefix}dropdown-link-active-color: #000000;
  --#{$prefix}dropdown-link-active-bg: #34A0D4;
  --#{$prefix}dropdown-border-radius: 5px;
}

.table{
  --#{$prefix}table-hover-bg: rgba(52, 160, 212, 0.25);
  --#{$prefix}table-cell-vertical-align: middle;
}

.form-submit-error{
  @include font-sizing(11px);
}

.alert-sizing{
  --#{$prefix}alert-padding-x: 5px;
  --#{$prefix}alert-padding-y: 5px;
  --#{$prefix}alert-border-radius: 2px;
  --#{$prefix}alert-margin-bottom: 0;
  @include font-sizing(13px);
}

.alert-sizing-lg{
  --#{$prefix}alert-padding-x: 10px;
  --#{$prefix}alert-padding-y: 10px;
  --#{$prefix}alert-border-radius: 2px;
  --#{$prefix}alert-margin-bottom: 0;
  @include font-sizing(15px);
}

.text-modal-sizing{
  @include font-sizing(13px);
}

.check-custom{
  @include logo-sizing(20px, 20px)
}

.btn-ct-form{
  @include button-outline-variant(#86bcd7);
  @include button-size(2px,10px,15px,2px);
}