{% extends "base.html" %}

{% block main %}

    <main>
        <div class="container py-3">
            <div class="row justify-content-between my-4 mx-1 border-bottom border-primary-subtle">
                <h1 class="col-8 fs-5 p-0">Comptes utilisateurs</h1>
                <div class="col-4 d-none d-sm-flex justify-content-end p-0">
                    <a href="{{ url_for('index.index_get') }}" class="link-body-emphasis link-underline link-underline-opacity-0 pe-0">
                        <img src="{{ url_for('static', filename='img/home-logo.svg') }}" class="mb-1">
                        Accueil
                    </a>
                </div>
            </div>
            <div class="row mx-1">
                <div class="d-flex justify-content-between align-items-center p-0 mt-5">
                    {#Large screen create user account button#}
                    <button class="btn btn-ct-add d-none d-lg-block" data-bs-toggle="modal" data-bs-target="#CreateUserModal">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="18" height="18" fill="currentColor" class="bi bi-person-add mb-1 me-1"
                             viewBox="0 0 16 16">
                            <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0
                            0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2
                            0 1 0 0-4 2 2 0 0 0 0 4Z"/>
                            <path d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68
                            5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6
                            3-6 4s1 1 1 1h5.256Z"/>
                        </svg>
                        Ajouter
                    </button>
                    {#small screen create user account button#}
                    <button class="btn btn-ct-add-s d-block d-lg-none" data-bs-toggle="modal" data-bs-target="#CreateUserModal">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="25" height="25" fill="currentColor" class="bi bi-person-add mb-1 me-1"
                             viewBox="0 0 16 16">
                            <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0
                            0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2
                            0 1 0 0-4 2 2 0 0 0 0 4Z"/>
                            <path d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68
                            5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6
                            3-6 4s1 1 1 1h5.256Z"/>
                        </svg>
                    </button>
                </div>
            </div>
            {#Success/Error message#}
            <div class="row mx-1 mt-2">
                {% with log = get_flashed_messages(with_categories=true) %}
                    {% if log %}
                        {% for category, message in log %}
                            {% if category == "error" %}
                                <div class="alert alert-danger d-flex align-items-center justify-content-between alert-sizing"
                                     role="alert">
                                    <div>
                                        {{ message }}
                                    </div>
                                    <button type="button"
                                            class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                                    </button>
                                </div>
                            {% elif category == "success" %}
                                <div class="alert alert-success d-flex align-items-center justify-content-between alert-sizing"
                                     role="alert">
                                    <div>
                                        {{ message }}
                                    </div>
                                    <button type="button"
                                            class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                                    </button>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            {#Users table#}
            <div class="row mx-1 mb-5 pb-5">
                <table class="table table-hover col mt-4  shadow-sm">
                    <thead class="table-light">
                        <tr class="text-custom">
                            <th>Prénom</th>
                            <th>Nom</th>
                            <th class="d-none d-lg-table-cell">Date de Naissance</th>
                            <th class="d-none d-lg-table-cell">Télephone</th>
                            <th class="d-none d-lg-table-cell">E-mail</th>
                            <th class="d-none d-lg-table-cell">Rôle</th>
                            <th class="pe-4">Editer</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% if users %}
                        {% for user in users %}
                            <tr class="d-none">
                                <td class="align-middle">
                                    {{ user.first_name }}
                                </td>
                                <td class="align-middle">
                                    {{ user.last_name }}
                                </td>
                                <td class="align-middle d-none d-lg-table-cell">
                                    {{ user.text_birthday }}
                                </td>
                                <td class="align-middle d-none d-lg-table-cell">
                                    {{ user.phone_number }}
                                </td>
                                <td class="align-middle d-none d-lg-table-cell">
                                    {{ user.email }}
                                </td>
                                <td class="align-middle d-none d-lg-table-cell">
                                    {{ user.role }}
                                </td>
                                <td class="align-middle pe-4">
                                    <button type="button" class="btn btn-ct-edit dropdown-toggle" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                        <img src="{{ url_for('static', filename='img/edition-logo.svg') }}"
                                             class="logo-page-tab mb-1">
                                    </button>
                                    {#Securing deletion of initial admin user#}
                                    {% if user.email == "coopimmogestion@gmail.com" %}
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li>
                                            <button class="dropdown-item disabled" type="button"
                                                    data-bs-toggle="modal" data-bs-target="#{{ user.person_id }}">
                                                <img src="{{ url_for('static', filename='img/update-logo.svg') }}" class="me-1 mb-1">
                                                Modifier
                                            </button>
                                        </li>
                                        <li>
                                            <button class="dropdown-item disabled" type="button">
                                                <img src="{{ url_for('static', filename='img/delete-logo.svg') }}" class="me-1 mb-1">
                                                Supprimer
                                            </button>
                                        </li>
                                    </ul>
                                    {% else %}
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li>
                                            <button class="dropdown-item" type="button"
                                                    data-bs-toggle="modal" data-bs-target="#{{ user.person_id }}">
                                                <img src="{{ url_for('static', filename='img/update-logo.svg') }}" class="me-1 mb-1">
                                                Modifier
                                            </button>
                                        </li>
                                        <li>
                                            <button class="dropdown-item" type="button">
                                                <img src="{{ url_for('static', filename='img/delete-logo.svg') }}" class="me-1 mb-1">
                                                Supprimer
                                            </button>
                                        </li>
                                    </ul>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                    <tfoot class="table-light">
                        <tr class="text-custom">
                            <th class="text-center">
                                <button type="button" class="btn btn-ct-page-tab pb-1 previous-page">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-arrow-left" viewBox="0 0 16 16">
                                      <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4
                                      4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                                    </svg>
                                </button>
                            </th>
                            <th class="d-table-cell d-lg-none page-number"></th>
                            <th colspan="5" class="d-none d-lg-table-cell page-number"></th>
                            <th class="text-center pe-4">
                                <button type="button" class="btn btn-ct-page-tab pb-1 next-page">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-arrow-right" viewBox="0 0 16 16">
                                      <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1
                                      .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                                    </svg>
                                </button>
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

        {# Create user account modal #}
        <div class="modal modal-lg fade rounded-2" id="CreateUserModal" tabindex="-1" aria-labelledby="CreateUserModalLabel" aria-hidden="true">
            <div class="modal-dialog my-3">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title fs-5" id="CreateUserModalLabel">Créer un compte</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body position-relative modal-body-create-user">
                        <form class="form-create-account" action="{{url_for('account.account_create')}}" method="post">
                            <fieldset class="row g-3 m-1 pb-2 border border-primary-subtle rounded-2">
                                <legend class="my-0 py-0 text-custom text-modal-sizing text-center">Utilisateur</legend>
                                <div class="col-md-4 my-1">
                                    <label for="first_name" class="form-label text-modal-sizing">Prénom*</label>
                                    <input name="first_name" type="text" class="form-control form-control-sm rounded-1" id="first_name">
                                </div>
                                <div class="col-md-4 my-1">
                                    <label for="last_name" class="form-label text-modal-sizing">Nom*</label>
                                    <input name="last_name" type="text" class="form-control form-control-sm rounded-1" id="last_name">
                                </div>
                                <div class="col-md-4 my-1">
                                    <label for="birthday" class="form-label text-modal-sizing">Date de naissance*</label>
                                    <input name="birthday" type="date" class="form-control form-control-sm rounded-1" id="birthday">
                                </div>
                                <div class="col-md-6 my-1">
                                    <label for="phone_number" class="form-label text-modal-sizing">Téléphone*</label>
                                    <input name="phone_number" type="tel" class="form-control form-control-sm rounded-1" id="phone_number">
                                </div>
                                <div class="col-md-6 my-1">
                                    <label for="email" class="form-label text-modal-sizing">E-mail*</label>
                                    <input name="email" type="email" class="form-control form-control-sm rounded-1" id="email">
                                </div>
                                <div class="col-md-6 my-1">
                                    <label for="password" class="form-label text-modal-sizing">Mot de passe*</label>
                                    <input name="password" type="password" class="form-control form-control-sm rounded-1" id="password">
                                </div>
                                <div class="col-md-6 my-1">
                                    <label for="password_check" class="form-label text-modal-sizing">Confirmer le mot de passe*</label>
                                    <input name="password_check" type="password" class="form-control form-control-sm rounded-1" id="password_check">
                                </div>
                                <div class="col-md-6 my-1">
                                    <label for="role" class="form-label text-modal-sizing">Rôle*</label>
                                    <select name="role" id="role" class="form-select form-select-sm rounded-1">
                                        <option selected>User</option>
                                        <option>Admin</option>
                                    </select>
                                </div>
                            </fieldset>
                            <fieldset class="row g-3 mx-1 mt-3 pb-2 border border-primary-subtle rounded-2">
                                <legend class="my-0 py-0 text-custom  text-modal-sizing text-center">Adresse</legend>
                                <div class="col-md-10 my-1">
                                    <label for="street_name" class="form-label text-modal-sizing">Nom de voie*</label>
                                    <input name="street_name" type="text" class="form-control form-control-sm rounded-1" id="street_name" placeholder="Place de l'Eglise">
                                </div>
                                <div class="col-md-2 my-1">
                                    <label for="street_number" class="form-label text-modal-sizing">Numéro*</label>
                                    <input name="street_number" type="number" class="form-control form-control-sm rounded-1" id="street_number">
                                </div>
                                <div class="col-12 my-1">
                                    <label for="additional_address" class="form-label text-modal-sizing">Adresse complément</label>
                                    <input name="additional_address" type="text" class="form-control form-control-sm rounded-1" id="additional_address" placeholder="Bâtiment, étage, ...">
                                </div>
                                <div class="col-md-8 my-1">
                                    <label for="city" class="form-label text-modal-sizing">Ville*</label>
                                    <input name="city" type="text" class="form-control form-control-sm rounded-1" id="city">
                                </div>
                                <div class="col-md-4 my-1">
                                    <label for="zip_code" class="form-label text-modal-sizing">Code postal*</label>
                                    <input name="zip_code" type="text" class="form-control form-control-sm rounded-1" id="zip_code">
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-ct-cancel-modal" data-bs-dismiss="modal">Annuler</button>
                        <button type="button" class="btn btn-primary btn-ct-modal submit-create-user">Valider</button>
                    </div>
                </div>
            </div>
        </div>
        {# Update user account modal #}
        {% for user in users %}
            <div class="modal modal-lg fade rounded-2" id="{{ user.person_id }}" tabindex="-1" aria-labelledby="CreateUserModalLabel" aria-hidden="true">
                <div class="modal-dialog my-3">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title fs-5" id="CreateUserModalLabel">{{ user.full_name}}</h2>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body position-relative modal-body-update-user">
                            <form class="form-update-account" action="{{url_for('account.account_update',person_id=user.person_id)}}" method="post">
                                <fieldset class="row g-3 m-1 pb-2 border border-primary-subtle rounded-2">
                                    <legend class="my-0 py-0 text-custom text-modal-sizing text-center">Utilisateur</legend>
                                    <div class="col-md-4 my-1">
                                        <label for="first_name" class="form-label text-modal-sizing">Prénom*</label>
                                        <input name="first_name" type="text" class="form-control form-control-sm rounded-1"
                                               id="first_name" value="{{ user.first_name }}">
                                    </div>
                                    <div class="col-md-4 my-1">
                                        <label for="last_name" class="form-label text-modal-sizing">Nom*</label>
                                        <input name="last_name" type="text" class="form-control form-control-sm rounded-1"
                                               id="last_name" value="{{ user.last_name }}">
                                    </div>
                                    <div class="col-md-4 my-1">
                                        <label for="birthday" class="form-label text-modal-sizing">Date de naissance*</label>
                                        <input name="birthday" type="date" class="form-control form-control-sm rounded-1"
                                               id="birthday" value="{{ user.text_birthday }}">
                                    </div>
                                    <div class="col-md-6 my-1">
                                        <label for="phone_number" class="form-label text-modal-sizing">Téléphone*</label>
                                        <input name="phone_number" type="tel" class="form-control form-control-sm rounded-1"
                                               id="phone_number" value="{{ user.phone_number }}">
                                    </div>
                                    <div class="col-md-6 my-1">
                                        <label for="role" class="form-label text-modal-sizing">Rôle*</label>
                                        <select name="role" id="role" class="form-select form-select-sm rounded-1">
                                            <option selected>{{ user.role }}</option>
                                            <option>User</option>
                                            <option>Admin</option>
                                        </select>
                                    </div>
                                </fieldset>
                                <fieldset class="row g-3 mx-1 mt-3 pb-2 border border-primary-subtle rounded-2">
                                    <legend class="my-0 py-0 text-custom  text-modal-sizing text-center">Adresse</legend>
                                    <div class="col-md-10 my-1">
                                        <label for="street_name" class="form-label text-modal-sizing">Nom de voie*</label>
                                        <input name="street_name" type="text" class="form-control form-control-sm rounded-1"
                                               id="street_name" placeholder="Place de l'Eglise" value="{{ user.address.street_name }}">
                                    </div>
                                    <div class="col-md-2 my-1">
                                        <label for="street_number" class="form-label text-modal-sizing">Numéro*</label>
                                        <input name="street_number" type="number" class="form-control form-control-sm rounded-1"
                                               id="street_number" value="{{ user.address.street_number }}">
                                    </div>
                                    <div class="col-12 my-1">
                                        <label for="additional_address" class="form-label text-modal-sizing">Adresse complément</label>
                                        <input name="additional_address" type="text" class="form-control form-control-sm rounded-1"
                                               id="additional_address" placeholder="Bâtiment, étage, ..." value="{{ user.address.additional_address }}">
                                    </div>
                                    <div class="col-md-8 my-1">
                                        <label for="city" class="form-label text-modal-sizing">Ville*</label>
                                        <input name="city" type="text" class="form-control form-control-sm rounded-1"
                                               id="city" value="{{ user.address.city }}">
                                    </div>
                                    <div class="col-md-4 my-1">
                                        <label for="zip_code" class="form-label text-modal-sizing">Code postal*</label>
                                        <input name="zip_code" type="text" class="form-control form-control-sm rounded-1"
                                               id="zip_code" value="{{ user.address.zip_code }}">
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-ct-cancel-modal" data-bs-dismiss="modal">Annuler</button>
                            <button type="button" class="btn btn-primary btn-ct-modal submit-update-user">Valider</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </main>

{% endblock %}