{% extends "base.html" %}

{% block main %}

    <main>
        <div class="container py-3">
            <div class="row my-5 mx-1 border-bottom border-primary-subtle">
                <h1 class="fs-5 p-0">Comptes utilisateurs</h1>
            </div>
            <div class="row mx-1">
                <div class="p-0 mt-5">
                    <button class="btn btn-ct-add">
                        <img src="{{ url_for('static', filename='img/user-add-logo.svg') }}" class=" mb-1">
                        Ajouter
                    </button>
                </div>
            </div>
            <div class="row mx-1">

                {#Table large screen#}
                <table class="table col d-none d-lg-table mt-3">
                    <thead class="table-light">
                        <tr class="text-custom">
                            <th>Prénom</th>
                            <th>Nom</th>
                            <th>Date de Naissance</th>
                            <th>Télephone</th>
                            <th>E-mail</th>
                            <th>Rôle</th>
                            <th>Editer</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td class="align-middle">
                                {{ user.first_name }}
                            </td>
                            <td class="align-middle">
                                {{ user.last_name }}
                            </td>
                            <td class="align-middle">
                                {{ user.text_birthday }}
                            </td>
                            <td class="align-middle">
                                {{ user.phone_number }}
                            </td>
                            <td class="align-middle">
                                {{ user.email }}
                            </td>
                            <td class="align-middle">
                                {{ user.role }}
                            </td>
                            <td class="align-middle">
                                <button type="button" class="btn btn-ct-edit dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="{{ url_for('static', filename='img/edition-logo.svg') }}" class="logo-page-tab mb-1">
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li><button class="dropdown-item" type="button">Modifier</button></li>
                                    <li><button class="dropdown-item" type="button">Supprimer</button></li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot class="table-light">
                        <tr class="text-custom">
                            <th class="text-center">
                                <button type="button" class="btn btn-ct-page-tab">
                                    <img src="{{ url_for('static', filename='img/previous-tab-logo.svg') }}" class="logo-page-tab my-1">
                                </button>
                            </th>
                            <th colspan="5"></th>
                            <th class="text-center">
                                <button type="button" class="btn btn-ct-page-tab">
                                    <img src="{{ url_for('static', filename='img/next-tab-logo.svg') }}" class="logo-page-tab my-1">
                                </button>
                            </th>
                        </tr>
                    </tfoot>
                </table>

                {#Table small screen#}
                <table class="table col d-table d-lg-none mt-3">
                    <thead class="table-light">
                        <tr class="text-custom">
                            <th>Prénom</th>
                            <th>Nom</th>
                            <th>Editer</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>
                                {{ user.first_name }}
                            </td>
                            <td>
                                {{ user.last_name }}
                            </td>
                            <td>
                                <button type="button" class="btn btn-ct-edit dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"">
                                    <img src="{{ url_for('static', filename='img/edition-logo.svg') }}" class="logo-page-tab mb-1">
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li><button class="dropdown-item" type="button">Modifier</button></li>
                                    <li><button class="dropdown-item" type="button">Supprimer</button></li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot class="table-light">
                        <tr class="text-custom">
                            <th class="text-center">
                                <button type="button" class="btn btn-ct-page-tab">
                                    <img src="{{ url_for('static', filename='img/previous-tab-logo.svg') }}" class="logo-page-tab my-1">
                                </button>
                            </th>
                            <th>

                            </th>
                            <th class="text-center">
                                <button type="button" class="btn btn-ct-page-tab">
                                    <img src="{{ url_for('static', filename='img/next-tab-logo.svg') }}" class="logo-page-tab my-1">
                                </button>
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </main>

{% endblock %}