{% extends "base.html" %}

{% block main %}

    <main>
        <div class="container py-3">
            <div class="row justify-content-between my-4 mx-1 border-bottom border-primary-subtle">
                <h1 class="col-8 fs-5 p-0">Appartements</h1>
                <div class="col-4 d-none d-sm-flex justify-content-end p-0">
                    <a href="{{ url_for('index.index_get') }}" class="link-body-emphasis link-underline link-underline-opacity-0 pe-0">
                        <img src="{{ url_for('static', filename='img/home-logo.svg') }}" class="mb-1">
                        Accueil
                    </a>
                </div>
            </div>
            {% if apartments and apartments|length > 0  %}
                <div class="row mx-1">
                    <div class="d-flex justify-content-between align-items-center p-0 mt-5">
                        {#Large screen create user account button#}
                        <button class="btn btn-ct-add d-none d-lg-block" data-bs-toggle="modal" data-bs-target="#CreateApartmentModal">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-building-add mb-1 me-1" viewBox="0 0 16 16">
                                  <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0
                                  1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Z"/>
                                  <path d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v6.5a.5.5 0 0 1-1 0V1H3v14h3v-2.5a.5.5 0 0
                                  1 .5-.5H8v4H3a1 1 0 0 1-1-1V1Z"/>
                                  <path d="M4.5 2a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0
                                  0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0
                                  0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0
                                  0-.5-.5h-1Zm-6 3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0
                                  0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0
                                  0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0
                                  0-.5-.5h-1Zm-6 3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0
                                  0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Z"/>
                            </svg>
                            Ajouter
                        </button>
                        {#small screen create user account button#}
                        <button class="btn btn-ct-add-s d-block d-lg-none" data-bs-toggle="modal" data-bs-target="#CreateApartmentModal">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                 class="bi bi-building-add my-1" viewBox="0 0 16 16">
                                  <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0
                                  1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Z"/>
                                  <path d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v6.5a.5.5 0 0 1-1 0V1H3v14h3v-2.5a.5.5 0 0
                                  1 .5-.5H8v4H3a1 1 0 0 1-1-1V1Z"/>
                                  <path d="M4.5 2a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0
                                  0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0
                                  0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0
                                  0-.5-.5h-1Zm-6 3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0
                                  0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0
                                  0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0
                                  0-.5-.5h-1Zm-6 3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0
                                  0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Z"/>
                            </svg>
                        </button>
                    </div>
                </div>
                {#Success/Error message#}
                <div class="row mx-1 mt-2">
                    {% with log = get_flashed_messages(with_categories=true) %}
                        {% if log %}
                            {% for category, message in log %}
                                {% if category == "error" %}
                                    <div class="alert alert-danger d-flex align-items-center justify-content-between alert-sizing"
                                         role="alert">
                                        <div>
                                            {{ message }}
                                        </div>
                                        <button type="button"
                                                class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                                        </button>
                                    </div>
                                {% elif category == "success" %}
                                    <div class="alert alert-success d-flex align-items-center justify-content-between alert-sizing"
                                         role="alert">
                                        <div>
                                            {{ message }}
                                        </div>
                                        <button type="button"
                                                class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                                        </button>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
                {#Users table#}
                <div class="row mx-1 mb-5 pb-5">
                    <table class="table table-hover col mt-4  shadow-sm">
                        <thead class="table-light">
                            <tr class="text-custom">
                                <th>Réference</th>
                                <th class="d-none d-lg-table-cell">Superficie(m²)</th>
                                <th class="d-none d-lg-table-cell">Pièces</th>
                                <th class="d-none d-lg-table-cell">Etage</th>
                                <th class="d-none d-lg-table-cell">Exterieur</th>
                                <th>Loyer(€)</th>
                                <th class="pe-4">Editer</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for apartment in apartments %}
                            <tr class="d-none">
                                <td class="align-middle">
                                    {{ apartment.reference }}
                                </td>
                                <td class="align-middle d-none d-lg-table-cell">
                                    {{ apartment.living_area }}
                                </td>
                                <td class="align-middle d-none d-lg-table-cell">
                                    {{ apartment.rooms }}
                                </td>
                                <td class="align-middle d-none d-lg-table-cell">
                                    {{ apartment.stage }}
                                </td>
                                <td class="align-middle d-none d-lg-table-cell">
                                    {% if apartment.outdoor %}
                                        <input class="form-check-input check-custom rounded-1" type="checkbox" value="{{ apartment.outdoor }}"
                                               id="flexCheckChecked" checked disabled>
                                    {% else %}
                                        <input class="form-check-input check-custom border-primary" type="checkbox" value="{{ apartment.outdoor }}"
                                               id="flexCheckDefault" disabled>
                                    {% endif %}
                                </td>
                                <td class="align-middle">
                                    <button class="btn btn-ct-form" data-bs-toggle="modal" data-bs-target="#price{{ apartment.property_id }}">
                                        {{ apartment.price.rent }}
                                    </button>
                                </td>
                                <td class="align-middle pe-4">
                                    <button type="button" class="btn btn-ct-edit dropdown-toggle" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                        <img src="{{ url_for('static', filename='img/edition-logo.svg') }}"
                                             class="logo-page-tab mb-1">
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li>
                                            <button class="dropdown-item" type="button"
                                                    data-bs-toggle="modal" data-bs-target="#update{{ apartment.property_id }}">
                                                <img src="{{ url_for('static', filename='img/update-logo.svg') }}" class="me-1 mb-1">
                                                Modifier
                                            </button>
                                        </li>
                                        <li>
                                            <button class="dropdown-item" type="button"
                                                    data-bs-toggle="modal" data-bs-target="#delete{{ apartment.property_id }}">
                                                <img src="{{ url_for('static', filename='img/delete-logo.svg') }}" class="me-1 mb-1">
                                                Supprimer
                                            </button>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot class="table-light">
                            <tr class="text-custom">
                                <th class="text-center">
                                    <button type="button" class="btn btn-ct-page-tab pb-1 previous-page">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                             class="bi bi-arrow-left" viewBox="0 0 16 16">
                                          <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4
                                          4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                                        </svg>
                                    </button>
                                </th>
                                <th class="d-table-cell d-lg-none page-number"></th>
                                <th colspan="5" class="d-none d-lg-table-cell page-number"></th>
                                <th class="text-center pe-4">
                                    <button type="button" class="btn btn-ct-page-tab pb-1 next-page">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                             class="bi bi-arrow-right" viewBox="0 0 16 16">
                                          <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1
                                          .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                                        </svg>
                                    </button>
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            {% elif apartments == None %}
                {# Connection error #}
                <div class="row mx-1 mt-2">
                    {% with log = get_flashed_messages(with_categories=true) %}
                        {% if log %}
                            {% for category, message in log %}
                                {% if category == "error" %}
                                    <div class="alert alert-danger d-flex align-items-center justify-content-between alert-sizing-lg"
                                         role="alert">
                                        <div>
                                            {{ message }}
                                        </div>
                                        <button type="button"
                                                class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                                        </button>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
            {% else %}
                {# First creation #}
                <div class="row mx-1 my-5 d-flex justify-content-center">
                        <div class="col-12 col-sm-10 col-md-8 col-lg-6 p-4 my-5 rounded-3 bg-secondary-subtle
                                    d-flex align-items-center justify-content-around shadow-sm">
                            <img src="{{ url_for('static', filename='img/property-logo.svg') }}"
                             class="logo-sizing-index me-5 p-2">
                            <div class="d-flex flex-column justify-content-around me-2">
                                <div class="fw-semibold text-center mb-4">
                                    <span>Aucun appartement</span> <br>
                                    <span class="d-none d-sm-block">Ajouter un premier appartement ?</span>
                                </div>
                                <button class="btn btn-ct-add"  data-bs-toggle="modal" data-bs-target="#CreateApartmentModal">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-building-add mb-1 d-none d-sm-inline-block" viewBox="0 0 16 16">
                                          <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0
                                          1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Z"/>
                                          <path d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v6.5a.5.5 0 0 1-1 0V1H3v14h3v-2.5a.5.5 0 0
                                          1 .5-.5H8v4H3a1 1 0 0 1-1-1V1Z"/>
                                          <path d="M4.5 2a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0
                                          0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0
                                          0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0
                                          0-.5-.5h-1Zm-6 3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0
                                          0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0
                                          0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0
                                          0-.5-.5h-1Zm-6 3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0
                                          0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Z"/>
                                    </svg>
                                    Ajouter
                                </button>
                            </div>
                        </div>
                </div>
            {% endif %}
        </div>

        {# Create apartment modal #}
        <div class="modal modal-lg fade rounded-2" id="CreateApartmentModal" tabindex="-1" aria-labelledby="CreateApartmentModalLabel" aria-hidden="true">
            <div class="modal-dialog my-3">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title fs-5" id="CreateApartmentModalLabel">Ajouter un appartement</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body position-relative modal-body-apartment">
                        <form class="form-apartment" action="{{url_for('apartment.apartment_create')}}" method="post">
                            <fieldset class="row g-3 m-1 pb-2 border border-primary-subtle rounded-2">
                                <legend class="my-0 py-0 text-custom text-modal-sizing text-center">Appartement</legend>
                                <div class="col-md-8 my-1">
                                    <label for="reference" class="form-label text-modal-sizing">Réference*</label>
                                    <input name="reference" type="text" class="form-control form-control-sm rounded-1" id="reference">
                                </div>
                                <div class="col-md-4 my-1">
                                    <label for="living_area" class="form-label text-modal-sizing">Superficie(m²)*</label>
                                    <input name="living_area" type="number" step="4" class="form-control form-control-sm rounded-1" id="living_area">
                                </div>
                                <div class="col-md-4 my-1">
                                    <label for="rooms" class="form-label text-modal-sizing">Pièces*</label>
                                    <input name="rooms" type="number" class="form-control form-control-sm rounded-1" id="rooms">
                                </div>
                                <div class="col-md-4 my-1">
                                    <label for="stage" class="form-label text-modal-sizing">Etage*</label>
                                    <input name="stage" type="number" class="form-control form-control-sm rounded-1" id="stage">
                                </div>
                                <div class="form-check col-12 ms-2 mb-1 mt-3">
                                    <input name="outdoor" class="form-check-input mt-1" value="false" type="checkbox" id="outdoor">
                                    <label class="form-check-label align-text-top text-modal-sizing" for="outdoor">Espace extérieur</label>
                                </div>
                            </fieldset>
                            <fieldset class="row g-3 mx-1 mt-3 pb-2 border border-primary-subtle rounded-2">
                                <legend class="my-0 py-0 text-custom  text-modal-sizing text-center">Prix</legend>
                                <div class="col-md-4 my-1">
                                    <label for="rent" class="form-label text-modal-sizing">Loyer*</label>
                                    <input name="rent" type="number" class="form-control form-control-sm rounded-1" id="rent">
                                </div>
                                <div class="col-md-4 my-1">
                                    <label for="charge" class="form-label text-modal-sizing">Charges*</label>
                                    <input name="charge" type="number" class="form-control form-control-sm rounded-1" id="charge">
                                </div>
                                <div class="col-md-4 my-1">
                                    <label for="security_deposit" class="form-label text-modal-sizing">Dépôt de garantie*</label>
                                    <input name="security_deposit" type="number" class="form-control form-control-sm rounded-1" id="security_deposit">
                                </div>
                            </fieldset>
                            <fieldset class="row g-3 mx-1 mt-3 pb-2 border border-primary-subtle rounded-2">
                                <legend class="my-0 py-0 text-custom  text-modal-sizing text-center">Adresse</legend>
                                <div class="col-md-10 my-1">
                                    <label for="street_name" class="form-label text-modal-sizing">Nom de voie*</label>
                                    <input name="street_name" type="text" class="form-control form-control-sm rounded-1" id="street_name" placeholder="Place de l'Eglise">
                                </div>
                                <div class="col-md-2 my-1">
                                    <label for="street_number" class="form-label text-modal-sizing">Numéro*</label>
                                    <input name="street_number" type="number" class="form-control form-control-sm rounded-1" id="street_number">
                                </div>
                                <div class="col-12 my-1">
                                    <label for="additional_address" class="form-label text-modal-sizing">Adresse complément</label>
                                    <input name="additional_address" type="text" class="form-control form-control-sm rounded-1" id="additional_address" placeholder="Bâtiment, étage, ...">
                                </div>
                                <div class="col-md-8 my-1">
                                    <label for="city" class="form-label text-modal-sizing">Ville*</label>
                                    <input name="city" type="text" class="form-control form-control-sm rounded-1" id="city">
                                </div>
                                <div class="col-md-4 my-1">
                                    <label for="zip_code" class="form-label text-modal-sizing">Code postal*</label>
                                    <input name="zip_code" type="text" class="form-control form-control-sm rounded-1" id="zip_code">
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-ct-cancel-modal" data-bs-dismiss="modal">Annuler</button>
                        <button type="button" class="btn btn-primary btn-ct-modal submit-apartment">Valider</button>
                    </div>
                </div>
            </div>
        </div>
        {% if apartments and apartments|length > 0  %}
            {% for apartment in apartments %}
                {# Update apartment modal #}
                <div class="modal modal-lg fade rounded-2" id="update{{ apartment.property_id }}" tabindex="-1" aria-labelledby="UpdateApartmentModalLabel" aria-hidden="true">
                    <div class="modal-dialog my-3">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="modal-title fs-5" id="updateApartmentModalLabel">{{ apartment.reference }}</h2>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body position-relative modal-body-apartment">
                                <form class="form-apartment" action="{{url_for('apartment.apartment_update', property_id=apartment.property_id)}}" method="post">
                                    <fieldset class="row g-3 m-1 pb-2 border border-primary-subtle rounded-2">
                                        <legend class="my-0 py-0 text-custom text-modal-sizing text-center">Appartement</legend>
                                        <div class="col-8 my-1">
                                            <label for="reference" class="form-label text-modal-sizing">Réference*</label>
                                            <input name="reference" type="text" class="form-control form-control-sm rounded-1"
                                                   id="reference" value="{{ apartment.reference }}">
                                        </div>
                                        <div class="col-md-4 my-1">
                                            <label for="living_area" class="form-label text-modal-sizing">Superficie(m²)*</label>
                                            <input name="living_area" type="number" step="4" class="form-control form-control-sm rounded-1"
                                                   id="living_area" value="{{ apartment.living_area }}">
                                        </div>
                                        <div class="col-md-4 my-1">
                                            <label for="rooms" class="form-label text-modal-sizing">Pièces*</label>
                                            <input name="rooms" type="number" class="form-control form-control-sm rounded-1"
                                                   id="rooms" value="{{ apartment.rooms }}">
                                        </div>
                                        <div class="col-md-4 my-1">
                                            <label for="stage" class="form-label text-modal-sizing">Etage*</label>
                                            <input name="stage" type="number" class="form-control form-control-sm rounded-1"
                                                   id="stage" value="{{ apartment.stage }}">
                                        </div>
                                        <div class="form-check col-12 ms-2 mb-1 mt-3">
                                            {% if apartment.outdoor == False %}
                                                <input name="outdoor" class="form-check-input mt-1" value="false" type="checkbox" id="outdoor">
                                            {% else %}
                                                <input name="outdoor" class="form-check-input mt-1" value="true" type="checkbox" id="outdoor" checked>
                                            {% endif %}
                                            <label class="form-check-label align-text-top text-modal-sizing" for="outdoor">Espace extérieur</label>
                                        </div>
                                    </fieldset>
                                    <fieldset class="row g-3 mx-1 mt-3 pb-2 border border-primary-subtle rounded-2">
                                        <legend class="my-0 py-0 text-custom  text-modal-sizing text-center">Prix</legend>
                                        <div class="col-md-4 my-1">
                                            <label for="rent" class="form-label text-modal-sizing">Loyer*</label>
                                            <input name="rent" type="number" class="form-control form-control-sm rounded-1"
                                                   id="rent" value="{{ apartment.price.rent }}">
                                        </div>
                                        <div class="col-md-4 my-1">
                                            <label for="charge" class="form-label text-modal-sizing">Charges*</label>
                                            <input name="charge" type="number" class="form-control form-control-sm rounded-1"
                                                   id="charge" value="{{ apartment.price.charge }}">
                                        </div>
                                        <div class="col-md-4 my-1">
                                            <label for="security_deposit" class="form-label text-modal-sizing">Dépôt de garantie*</label>
                                            <input name="security_deposit" type="number" class="form-control form-control-sm rounded-1"
                                                   id="security_deposit" value="{{ apartment.price.security_deposit }}">
                                        </div>
                                    </fieldset>
                                    <fieldset class="row g-3 mx-1 mt-3 pb-2 border border-primary-subtle rounded-2">
                                        <legend class="my-0 py-0 text-custom  text-modal-sizing text-center">Adresse</legend>
                                        <div class="col-md-10 my-1">
                                            <label for="street_name" class="form-label text-modal-sizing">Nom de voie*</label>
                                            <input name="street_name" type="text" class="form-control form-control-sm rounded-1"
                                                   id="street_name" placeholder="Place de l'Eglise" value="{{ apartment.address.street_name }}">
                                        </div>
                                        <div class="col-md-2 my-1">
                                            <label for="street_number" class="form-label text-modal-sizing">Numéro*</label>
                                            <input name="street_number" type="number" class="form-control form-control-sm rounded-1"
                                                   id="street_number" value="{{ apartment.address.street_number }}">
                                        </div>
                                        <div class="col-12 my-1">
                                            <label for="additional_address" class="form-label text-modal-sizing">Adresse complément</label>
                                            <input name="additional_address" type="text" class="form-control form-control-sm rounded-1"
                                                   id="additional_address" placeholder="Bâtiment, étage, ..." value="{{ apartment.address.additional_address }}">
                                        </div>
                                        <div class="col-md-8 my-1">
                                            <label for="city" class="form-label text-modal-sizing">Ville*</label>
                                            <input name="city" type="text" class="form-control form-control-sm rounded-1"
                                                   id="city" value="{{ apartment.address.city }}">
                                        </div>
                                        <div class="col-md-4 my-1">
                                            <label for="zip_code" class="form-label text-modal-sizing">Code postal*</label>
                                            <input name="zip_code" type="text" class="form-control form-control-sm rounded-1"
                                                   id="zip_code" value="{{ apartment.address.zip_code }}">
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-ct-cancel-modal" data-bs-dismiss="modal">Annuler</button>
                                <button type="button" class="btn btn-ct-modal submit-apartment">Valider</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="delete{{ apartment.property_id }}" tabindex="-1" aria-labelledby="DeleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content rounded-2">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="DeleteModalLabel">Supprimer un apartement</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                            Confirmer la suppression de {{ apartment.reference }} ?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-ct-cancel-modal" data-bs-dismiss="modal">Annuler</button>
                                <a href="{{ url_for('apartment.apartment_delete', property_id = apartment.property_id) }}" type="button"
                                   class="btn btn-ct-modal">Confirmer</a>
                            </div>
                        </div>
                    </div>
                </div>
                {# Price detail #}
                <div class="modal fade" id="price{{ apartment.property_id }}" tabindex="-1" aria-labelledby="PriceModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content rounded-2">
                            <div class="modal-header py-2">
                                <h1 class="modal-title fs-5" id="PriceModalLabel">Prix détail</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body pb-4 pt-2">
                                <div class="col my-1">
                                    <label for="rent" class="form-label text-modal-sizing">Loyer*</label>
                                    <input name="rent" type="number" class="form-control form-control-sm rounded-1"
                                           id="rent" value="{{ apartment.price.rent }}" disabled>
                                </div>
                                <div class="col my-1">
                                    <label for="charge" class="form-label text-modal-sizing">Charges*</label>
                                    <input name="charge" type="number" class="form-control form-control-sm rounded-1"
                                           id="charge" value="{{ apartment.price.charge }}" disabled>
                                </div>
                                <div class="col my-1">
                                    <label for="security_deposit" class="form-label text-modal-sizing">Dépôt de garantie*</label>
                                    <input name="security_deposit" type="number" class="form-control form-control-sm rounded-1"
                                           id="security_deposit" value="{{ apartment.price.security_deposit }}" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </main>

{% endblock %}