{% extends "base.html" %}

{% block main %}

    <main>
        <div class="container py-3">
            <div class="row justify-content-between my-4 mx-1 border-bottom border-primary-subtle">
                <h1 class="col-8 fs-5 p-0">Finances</h1>
                <div class="col-4 d-none d-sm-flex justify-content-end p-0">
                    <a href="{{ url_for('index.index_get') }}" class="link-body-emphasis link-underline link-underline-opacity-0 pe-0">
                        <img src="{{ url_for('static', filename='img/home-logo.svg') }}" class="mb-1">
                        Accueil
                    </a>
                </div>
            </div>
            {% if payments and payments|length > 0  %}
                <div class="row mx-1">
                    <div class="d-flex justify-content-start align-items-center p-0 mt-5">
                        {#Large screen create payment button#}
                        <button class="btn btn-ct-add d-none d-lg-block" data-bs-toggle="modal" data-bs-target="#CreatePaymentModal">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cash-coin me-1" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0z"/>
                                <path d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529
                                1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255
                                1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522
                                0-.294.216-.514.572-.578v1.1h-.003zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195l.054.012z"/>
                                <path d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.083c.058-.344.145-.678.258-1H3a2 2 0 0 0-2-2V3a2
                                2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1H1z"/>
                                <path d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 5.982 5.982 0 0 1 3.13-1.567z"/>
                            </svg>
                            Ajouter
                        </button>
                        {#large screen send rent receipt button#}
                        <button class="btn btn-ct-add d-none d-lg-block ms-2" data-bs-toggle="modal" data-bs-target="#SendRentReceipt">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-send mb-1 me-1" viewBox="0 0 16 16">
                              <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643
                              7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576
                              6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
                            </svg>
                            Quittance de loyer
                        </button>
                        {#large screen account balance button#}
                        <button class="btn btn-ct-add d-none d-lg-block ms-2" data-bs-toggle="modal" data-bs-target="#AccountBalance">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-safe mb-1 me-1" viewBox="0 0 16 16">
                                <path d="M1 1.5A1.5 1.5 0 0 1 2.5 0h12A1.5 1.5 0 0 1 16 1.5v13a1.5 1.5 0 0 1-1.5 1.5h-12A1.5 1.5 0 0 1 1 14.5V13H.5a.5.5
                                0 0 1 0-1H1V8.5H.5a.5.5 0 0 1 0-1H1V4H.5a.5.5 0 0 1 0-1H1V1.5zM2.5 1a.5.5 0 0 0-.5.5v13a.5.5 0 0 0 .5.5h12a.5.5 0 0
                                0 .5-.5v-13a.5.5 0 0 0-.5-.5h-12z"/>
                                <path d="M13.5 6a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zM4.828 4.464a.5.5 0
                                0 1 .708 0l1.09 1.09a3.003 3.003 0 0 1 3.476 0l1.09-1.09a.5.5 0 1 1 .707.708l-1.09 1.09c.74
                                1.037.74 2.44 0 3.476l1.09 1.09a.5.5 0 1 1-.707.708l-1.09-1.09a3.002 3.002 0 0 1-3.476 0l-1.09
                                1.09a.5.5 0 1 1-.708-.708l1.09-1.09a3.003 3.003 0 0 1 0-3.476l-1.09-1.09a.5.5 0 0 1 0-.708zM6.95
                                6.586a2 2 0 1 0 2.828 2.828A2 2 0 0 0 6.95 6.586z"/>
                            </svg>
                            Bilan des comptes
                        </button>
                        {#small screen create payment button#}
                        <button class="btn btn-ct-add-s d-block d-lg-none" data-bs-toggle="modal" data-bs-target="#CreatePaymentModal">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cash-coin my-1" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0z"/>
                                <path d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529
                                1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255
                                1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522
                                0-.294.216-.514.572-.578v1.1h-.003zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195l.054.012z"/>
                                <path d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.083c.058-.344.145-.678.258-1H3a2 2 0 0 0-2-2V3a2
                                2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1H1z"/>
                                <path d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 5.982 5.982 0 0 1 3.13-1.567z"/>
                            </svg>
                        </button>
                        {#small screen send rent receipt button#}
                        <button class="btn btn-ct-add-s d-block d-lg-none ms-2" data-bs-toggle="modal" data-bs-target="#SendRentReceipt">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                 class="bi bi-send my-1" viewBox="0 0 16 16">
                              <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643
                              7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576
                              6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
                            </svg>
                        </button>
                        {#small screen account balance button#}
                        <button class="btn btn-ct-add-s d-block d-lg-none ms-2" data-bs-toggle="modal" data-bs-target="#AccountBalance">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                 class="bi bi-safe my-1" viewBox="0 0 16 16">
                                <path d="M1 1.5A1.5 1.5 0 0 1 2.5 0h12A1.5 1.5 0 0 1 16 1.5v13a1.5 1.5 0 0 1-1.5 1.5h-12A1.5 1.5 0 0 1 1 14.5V13H.5a.5.5
                                0 0 1 0-1H1V8.5H.5a.5.5 0 0 1 0-1H1V4H.5a.5.5 0 0 1 0-1H1V1.5zM2.5 1a.5.5 0 0 0-.5.5v13a.5.5 0 0 0 .5.5h12a.5.5 0 0
                                0 .5-.5v-13a.5.5 0 0 0-.5-.5h-12z"/>
                                <path d="M13.5 6a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zM4.828 4.464a.5.5 0
                                0 1 .708 0l1.09 1.09a3.003 3.003 0 0 1 3.476 0l1.09-1.09a.5.5 0 1 1 .707.708l-1.09 1.09c.74
                                1.037.74 2.44 0 3.476l1.09 1.09a.5.5 0 1 1-.707.708l-1.09-1.09a3.002 3.002 0 0 1-3.476 0l-1.09
                                1.09a.5.5 0 1 1-.708-.708l1.09-1.09a3.003 3.003 0 0 1 0-3.476l-1.09-1.09a.5.5 0 0 1 0-.708zM6.95
                                6.586a2 2 0 1 0 2.828 2.828A2 2 0 0 0 6.95 6.586z"/>
                            </svg>
                        </button>
                    </div>
                </div>
                {#Success/Error message#}
                <div class="row mx-1 mt-2">
                    {% with log = get_flashed_messages(with_categories=true) %}
                        {% if log %}
                            {% for category, message in log %}
                                {% if category == "error" %}
                                    <div class="alert alert-danger d-flex align-items-center justify-content-between alert-sizing"
                                         role="alert">
                                        <div>
                                            {{ message }}
                                        </div>
                                        <button type="button"
                                                class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                                        </button>
                                    </div>
                                {% elif category == "success" %}
                                    <div class="alert alert-success d-flex align-items-center justify-content-between alert-sizing"
                                         role="alert">
                                        <div>
                                            {{ message }}
                                        </div>
                                        <button type="button"
                                                class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                                        </button>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
                {#Payments table#}
                <div class="row mx-1 mb-5 pb-5">
                    <table class="table table-hover col mt-4  shadow-sm">
                        <thead class="table-light">
                            <tr class="text-custom">
                                <th>Location</th>
                                <th>Montant</th>
                                <th class="d-none d-lg-table-cell">Date paiement</th>
                                <th class="d-none d-lg-table-cell">Type</th>
                                <th class="d-none d-lg-table-cell">Provenance</th>
                                <th class="pe-4">Editer</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for payment in payments %}
                            <tr class="d-none">
                                <td class="align-middle">
                                    {{ payment.rental.tenant.full_name }} <br>
                                    {{ payment.rental.apartment.reference }}
                                </td>
                                <td class="align-middle">
                                    {{ payment.amount }}
                                </td>
                                <td class="align-middle d-none d-lg-table-cell">
                                    {{ payment.text_payment_date }}
                                </td>
                                <td class="align-middle d-none d-lg-table-cell">
                                    {% if payment.origin %}
                                        Loyer
                                    {% else %}
                                        Dépôt de garantie
                                    {% endif %}
                                </td>
                                <td class="align-middle d-none d-lg-table-cell">
                                    {% if payment.origin %}
                                        {{ payment.origin }}
                                    {% endif %}
                                </td>
                                <td class="align-middle pe-4">
                                    <button type="button" class="btn btn-ct-edit dropdown-toggle" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                        <img src="{{ url_for('static', filename='img/edition-logo.svg') }}"
                                             class="logo-page-tab mb-1">
                                    </button>
                                    {% if payment.origin %}
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <li>
                                                <button class="dropdown-item" type="button" data-bs-toggle="modal"
                                                        data-bs-target="#update-rent{{ payment.payment_id }}">
                                                    <img src="{{ url_for('static', filename='img/update-logo.svg') }}"
                                                         class="me-1 mb-1">
                                                    Modifier
                                                </button>
                                            </li>
                                            <li>
                                                <button class="dropdown-item" type="button" data-bs-toggle="modal"
                                                        data-bs-target="#delete-rent{{ payment.payment_id }}">
                                                    <img src="{{ url_for('static', filename='img/delete-logo.svg') }}"
                                                         class="me-1 mb-1">
                                                    Supprimer
                                                </button>
                                            </li>
                                        </ul>
                                    {% else %}
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <li>
                                                <button class="dropdown-item" type="button" data-bs-toggle="modal"
                                                        data-bs-target="#update-security-deposit{{ payment.payment_id }}">
                                                    <img src="{{ url_for('static', filename='img/update-logo.svg') }}"
                                                         class="me-1 mb-1">
                                                    Modifier
                                                </button>
                                            </li>
                                                <button class="dropdown-item" type="button" data-bs-toggle="modal"
                                                    data-bs-target="#delete-security-deposit{{ payment.payment_id }}">
                                                <img src="{{ url_for('static', filename='img/delete-logo.svg') }}" class="me-1 mb-1">
                                                Supprimer
                                                </button>
                                            </li>
                                        </ul>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot class="table-light">
                            <tr class="text-custom">
                                <th class="text-center">
                                    <button type="button" class="btn btn-ct-page-tab pb-1 previous-page">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                             class="bi bi-arrow-left" viewBox="0 0 16 16">
                                          <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4
                                          4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                                        </svg>
                                    </button>
                                </th>
                                <th class="d-table-cell d-lg-none page-number"></th>
                                <th colspan="4" class="d-none d-lg-table-cell  page-number"></th>
                                <th class="text-center pe-4">
                                    <button type="button" class="btn btn-ct-page-tab pb-1 next-page">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                             class="bi bi-arrow-right" viewBox="0 0 16 16">
                                          <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1
                                          .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                                        </svg>
                                    </button>
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            {% elif payments == None %}
                {# Connection error #}
                <div class="row mx-1 mt-2">
                    {% with log = get_flashed_messages(with_categories=true) %}
                        {% if log %}
                            {% for category, message in log %}
                                {% if category == "error" %}
                                    <div class="alert alert-danger d-flex align-items-center justify-content-between alert-sizing-lg"
                                         role="alert">
                                        <div>
                                            {{ message }}
                                        </div>
                                        <button type="button"
                                                class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                                        </button>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
            {% else %}
                {# First creation #}
                <div class="row mx-1 mt-2">
                    {% with log = get_flashed_messages(with_categories=true) %}
                        {% if log %}
                            {% for category, message in log %}
                                {% if category == "success" %}
                                    <div class="alert alert-success d-flex align-items-center justify-content-between alert-sizing"
                                         role="alert">
                                        <div>
                                            {{ message }}
                                        </div>
                                        <button type="button"
                                                class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                                        </button>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
                <div class="row mx-1 my-5 d-flex justify-content-center">
                    <div class="col-12 col-sm-10 col-md-8 col-lg-6 p-4 my-5 rounded-3 bg-secondary-subtle
                                d-flex align-items-center justify-content-around shadow-sm">
                        <img src="{{ url_for('static', filename='img/money-logo.svg') }}"
                         class="logo-sizing-index me-5 p-2">
                        <div class="d-flex flex-column justify-content-around me-2">
                            <div class="fw-semibold text-center mb-4">
                                <span>Aucun paiement</span> <br>
                                <span class="d-none d-sm-block">Ajouter un premier paiement ?</span>
                            </div>
                            <button class="btn btn-ct-add" data-bs-toggle="modal" data-bs-target="#CreatePaymentModal">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-cash-coin d-none d-lg-inline-block me-1" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0z"/>
                                    <path d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529
                                    1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255
                                    1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522
                                    0-.294.216-.514.572-.578v1.1h-.003zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195l.054.012z"/>
                                    <path d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.083c.058-.344.145-.678.258-1H3a2 2 0 0 0-2-2V3a2
                                    2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1H1z"/>
                                    <path d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 5.982 5.982 0 0 1 3.13-1.567z"/>
                                </svg>
                                Ajouter
                            </button>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>

        {# Create payment modal #}
        <div class="modal modal-lg fade rounded-2" id="CreatePaymentModal" tabindex="-1" aria-labelledby="CreatePaymentModalLabel" aria-hidden="true">
            <div class="modal-dialog my-3">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title fs-5" id="CreatePaymentModalLabel">Ajouter un paiement</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body position-relative modal-body-payment">
                        <form class="form-payment" action="{{url_for('finance.finance_create')}}" method="post">
                            <fieldset class="row g-3 m-1 pb-2 border border-primary-subtle rounded-2">
                                <legend class="my-0 py-0 text-custom text-modal-sizing text-center">Location</legend>
                                <div class="col my-1">
                                    <label for="rental_id" class="form-label text-modal-sizing">Location*</label>
                                    <select name="rental_id" id="rental_id" class="form-select form-select-sm rounded-1">
                                        <option></option>
                                        {% if rentals %}
                                            {% for rental in rentals %}
                                                <option value="{{ rental.rental_id }}">
                                                    {{ rental.tenant.full_name }}-{{ rental.apartment.reference }}
                                                </option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                </div>
                            </fieldset>
                            <fieldset class="row g-3 mt-4 m-1 pb-2 border border-primary-subtle rounded-2">
                                <legend class="my-0 py-0 text-custom text-modal-sizing text-center">Paiement</legend>
                                <div class="col-md-6 my-1">
                                    <label for="type_payment" class="form-label text-modal-sizing">Type*</label>
                                    <select name="type_payment" id="type_payment" class="form-select form-select-sm rounded-1">
                                        <option></option>
                                        <option>Loyer</option>
                                        <option>Dépôt de garantie</option>
                                    </select>
                                </div>
                                <div class="col-md-6 my-1">
                                    <label for="amount" class="form-label text-modal-sizing">Montant*</label>
                                    <input name="amount" type="text" class="form-control form-control-sm rounded-1" id="amount">
                                </div>
                                <div class="col-md-6 my-1">
                                    <label for="payment_date" class="form-label text-modal-sizing">Date*</label>
                                    <input name="payment_date" type="date" class="form-control form-control-sm rounded-1" id="payment_date">
                                </div>
                                <div class="col my-1">
                                    <label for="origin" class="form-label text-modal-sizing">Provenance</label>
                                    <select name="origin" id="origin" class="form-select form-select-sm rounded-1">
                                        <option></option>
                                        <option>Locataire</option>
                                        <option>Allocation</option>
                                    </select>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-ct-cancel-modal" data-bs-dismiss="modal">Annuler</button>
                        <button type="button" class="btn btn-primary btn-ct-modal submit-payment">Valider</button>
                    </div>
                </div>
            </div>
        </div>

        {# Send rent receipt modal#}
        <div class="modal modal-lg fade rounded-2" id="SendRentReceipt" tabindex="-1" aria-labelledby="SendRentReceiptLabel" aria-hidden="true">
            <div class="modal-dialog my-3">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title fs-5" id="SendRentReceiptLabel">Envoyer une quittance de loyer</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body position-relative modal-body-rent-receipt">
                        <form class="form-rent-receipt" action="{{url_for('finance.send_rent_receipt')}}" method="post">
                            <fieldset class="row g-3 m-1 pb-2 border border-primary-subtle rounded-2">
                                <legend class="my-0 py-0 text-custom text-modal-sizing text-center">Location</legend>
                                <div class="col my-1">
                                    <label for="rental_id" class="form-label text-modal-sizing">Location*</label>
                                    <select name="rental_id" id="rental_id" class="form-select form-select-sm rounded-1">
                                        <option></option>
                                        {% if rentals %}
                                            {% for rental in rentals %}
                                                <option value="{{ rental.rental_id }}">
                                                    {{ rental.tenant.full_name }}-{{ rental.apartment.reference }}
                                                </option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                </div>
                            </fieldset>
                            <fieldset class="row g-3 mt-4 m-1 pb-2 border border-primary-subtle rounded-2">
                                <legend class="my-0 py-0 text-custom text-modal-sizing text-center">Période</legend>
                                <div class="col-md-6 my-1">
                                    <label for="start_date" class="form-label text-modal-sizing">Début*</label>
                                    <input name="start_date" type="date" class="form-control form-control-sm rounded-1" id="start_date">
                                </div>
                                <div class="col-md-6 my-1">
                                    <label for="end_date" class="form-label text-modal-sizing">Fin*</label>
                                    <input name="end_date" type="date" class="form-control form-control-sm rounded-1" id="end_date">
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-ct-cancel-modal" data-bs-dismiss="modal">Annuler</button>
                        <button type="button" class="btn btn-primary btn-ct-modal submit-rent-receipt">Envoyer</button>
                    </div>
                </div>
            </div>
        </div>

        {# Account balance modal#}
        <div class="modal modal-lg fade rounded-2" id="AccountBalance" tabindex="-1" aria-labelledby="AccountBalanceLabel" aria-hidden="true">
            <div class="modal-dialog my-3">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title fs-5" id="AccountBalanceLabel">Bilan des comptes</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body position-relative modal-body-account-balance">
                        <form class="form-account-balance" action="{{url_for('finance.account_balances')}}" method="post">
                            <fieldset class="row g-3 m-1 pb-2 border border-primary-subtle rounded-2">
                                <legend class="my-0 py-0 text-custom text-modal-sizing text-center">Location</legend>
                                <div class="col my-1">
                                    <label for="rental_id" class="form-label text-modal-sizing">Location*</label>
                                    <select name="rental_id" id="rental_id" class="form-select form-select-sm rounded-1">
                                        <option></option>
                                        {% if rentals %}
                                            {% for rental in rentals %}
                                                <option value="{{ rental.rental_id }}">
                                                    {{ rental.tenant.full_name }}-{{ rental.apartment.reference }}
                                                </option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-ct-cancel-modal" data-bs-dismiss="modal">Annuler</button>
                        <button type="button" class="btn btn-primary btn-ct-modal submit-account-balance">Valider</button>
                    </div>
                </div>
            </div>
        </div>

        {% if payments and payments|length > 0  %}
            {% for payment in payments %}
                {% if payment.origin %}
                    {# Update rent modal #}
                    <div class="modal modal-lg fade rounded-2" id="update-rent{{ payment.payment_id }}" tabindex="-1"
                         aria-labelledby="UpdatePaymentModalLabel" aria-hidden="true">
                        <div class="modal-dialog my-3">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h2 class="modal-title fs-5" id="UpdatePaymentModalLabel">Modifier un paiement</h2>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body position-relative modal-body-payment">
                                    <form class="form-payment" action="{{url_for('finance.finance_update', payment_id=payment.payment_id)}}"
                                          method="post">
                                        <fieldset class="row g-3 m-1 pb-2 border border-primary-subtle rounded-2">
                                            <legend class="my-0 py-0 text-custom text-modal-sizing text-center">Location</legend>
                                            <div class="col my-1">
                                                <label for="rental_id" class="form-label text-modal-sizing">Location*</label>
                                                <select name="rental_id" id="rental_id" class="form-select form-select-sm rounded-1">
                                                    <option value="{{ payment.rental.rental_id }}" selected>
                                                        {{ payment.rental.tenant.full_name }}-{{ payment.rental.apartment.reference }}
                                                    </option>
                                                    {% if rentals %}
                                                        {% for rental in rentals %}
                                                            <option value="{{ rental.rental_id }}">
                                                                {{ rental.tenant.full_name }}-{{ rental.apartment.reference }}
                                                            </option>
                                                        {% endfor %}
                                                    {% endif %}
                                                </select>
                                            </div>
                                        </fieldset>
                                        <fieldset class="row g-3 mt-4 m-1 pb-2 border border-primary-subtle rounded-2">
                                            <legend class="my-0 py-0 text-custom text-modal-sizing text-center">Paiement</legend>
                                            <div class="col-md-6 my-1">
                                                <label for="type_payment" class="form-label text-modal-sizing">Type(non éditable)</label>
                                                    <input name="type_payment" type="text" class="form-control form-control-sm rounded-1"
                                                           id="type_payment" value="Loyer" readonly>
                                            </div>
                                            <div class="col-md-6 my-1">
                                                <label for="amount" class="form-label text-modal-sizing">Montant*</label>
                                                <input name="amount" type="text" class="form-control form-control-sm rounded-1"
                                                       id="amount" value="{{ payment.amount }}">
                                            </div>
                                            <div class="col-md-6 my-1">
                                                <label for="payment_date" class="form-label text-modal-sizing">Date*</label>
                                                <input name="payment_date" type="date" class="form-control form-control-sm rounded-1"
                                                       id="payment_date" value="{{ payment.text_payment_date }}">
                                            </div>
                                                <div class="col my-1">
                                                    <label for="origin" class="form-label text-modal-sizing">Provenance</label>
                                                    <select name="origin" id="origin" class="form-select form-select-sm rounded-1">
                                                        <option selected>{{ payment.origin }}</option>
                                                        <option>Locataire</option>
                                                        <option>Allocation</option>
                                                    </select>
                                                </div>
                                        </fieldset>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-ct-cancel-modal" data-bs-dismiss="modal">Annuler</button>
                                    <button type="button" class="btn btn-primary btn-ct-modal submit-payment">Valider</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    {# Update security deposit modal #}
                    <div class="modal modal-lg fade rounded-2" id="update-security-deposit{{ payment.payment_id }}" tabindex="-1"
                         aria-labelledby="UpdatePaymentModalLabel" aria-hidden="true">
                        <div class="modal-dialog my-3">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h2 class="modal-title fs-5" id="UpdatePaymentModalLabel">Modifier un paiement</h2>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body position-relative modal-body-payment">
                                    <form class="form-payment" action="{{url_for('finance.finance_update', payment_id=payment.payment_id)}}"
                                          method="post">
                                        <fieldset class="row g-3 m-1 pb-2 border border-primary-subtle rounded-2">
                                            <legend class="my-0 py-0 text-custom text-modal-sizing text-center">Location</legend>
                                            <div class="col my-1">
                                                <label for="rental_id" class="form-label text-modal-sizing">Location*</label>
                                                <select name="rental_id" id="rental_id" class="form-select form-select-sm rounded-1">
                                                    <option value="{{ payment.rental.rental_id }}" selected>
                                                        {{ payment.rental.tenant.full_name }}-{{ payment.rental.apartment.reference }}
                                                    </option>
                                                    {% if rentals %}
                                                        {% for rental in rentals %}
                                                            <option value="{{ rental.rental_id }}">
                                                                {{ rental.tenant.full_name }}-{{ rental.apartment.reference }}
                                                            </option>
                                                        {% endfor %}
                                                    {% endif %}
                                                </select>
                                            </div>
                                        </fieldset>
                                        <fieldset class="row g-3 mt-4 m-1 pb-2 border border-primary-subtle rounded-2">
                                            <legend class="my-0 py-0 text-custom text-modal-sizing text-center">Paiement</legend>
                                            <div class="col-md-6 my-1">
                                                <label for="type_payment" class="form-label text-modal-sizing">Type(non éditable)</label>
                                                    <input name="type_payment" type="text" class="form-control form-control-sm rounded-1"
                                                           id="type_payment" value="Dépôt de garantie" readonly>
                                            </div>
                                            <div class="col-md-6 my-1">
                                                <label for="amount" class="form-label text-modal-sizing">Montant*</label>
                                                <input name="amount" type="text" class="form-control form-control-sm rounded-1"
                                                       id="amount" value="{{ payment.amount }}">
                                            </div>
                                            <div class="col-md-6 my-1">
                                                <label for="payment_date" class="form-label text-modal-sizing">Date*</label>
                                                <input name="payment_date" type="date" class="form-control form-control-sm rounded-1"
                                                       id="payment_date" value="{{ payment.text_payment_date }}">
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-ct-cancel-modal" data-bs-dismiss="modal">Annuler</button>
                                    <button type="button" class="btn btn-primary btn-ct-modal submit-payment">Valider</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if payment.origin %}
                    {# Delete rent modal #}
                    <div class="modal fade" id="delete-rent{{ payment.payment_id }}" tabindex="-1" aria-labelledby="DeleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content rounded-2">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="DeleteModalLabel">Supprimer un paiement</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                Confirmer la suppression du paiement ?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-ct-cancel-modal" data-bs-dismiss="modal">Annuler</button>
                                        <a href="{{ url_for('finance.rent_delete', payment_id=payment.payment_id) }}" type="button"
                                           class="btn btn-ct-modal">Confirmer</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    {# Delete security deposit modal #}
                    <div class="modal fade" id="delete-security-deposit{{ payment.payment_id }}" tabindex="-1" aria-labelledby="DeleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content rounded-2">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="DeleteModalLabel">Supprimer un paiement</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                Confirmer la suppression du paiement ?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-ct-cancel-modal" data-bs-dismiss="modal">Annuler</button>
                                        <a href="{{ url_for('finance.security_deposit_delete', payment_id=payment.payment_id) }}" type="button"
                                           class="btn btn-ct-modal">Confirmer</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </main>

{% endblock %}