{% extends "base.html" %}

{% block main %}

    <main class="container mb-5 pb-5">
        <div class="row mx-2 mt-5 border-bottom border-primary-subtle">
            <h5 class="row">Bienvenue sur CoopImmoGestion {{ user_first_name }} !</h5>
        </div>
        <div class="row mx-2 mt-5 pt-4">
            <h6 class="row">Démarrez dès à présent votre gestion immobilière</h6>
        </div>
        <div class="row row-cols-auto mx-2 pt-5 justify-content-around">
            <div class="d-flex flex-column align-items-center col py-3">
                <span class="text-center pb-3"> Gérez vos appartements </span>
                <a href="{{ url_for('apartment.apartment_read_all') }}" class="nav-item-custom rounded-2">
                    <img class="logo-sizing-index border border-3 rounded-2 border-primary-subtle p-2" src="{{ url_for('static', filename='img/property-logo.svg') }}">
                </a>
            </div>
            <div class="d-flex flex-column align-items-center col py-3">
                <span class="text-center pb-3"> Gérez vos locataires </span>
                <a href="{{ url_for('tenant.tenant_read_all') }}" class="nav-item-custom rounded-2">
                    <img class="logo-sizing-index border border-3 rounded-2 border-primary-subtle p-2" src="{{ url_for('static', filename='img/tenants-logo.svg') }}">
                </a>
            </div>
            <div class="d-flex flex-column align-items-center col py-3">
                <span class="text-center pb-3"> Gérez vos locations </span>
                <a href="#" class="nav-item-custom rounded-2">
                    <img class="logo-sizing-index border border-3 rounded-2 border-primary-subtle p-2" src="{{ url_for('static', filename='img/rentals-logo.svg') }}">
                </a>
            </div>
            <div class="d-flex flex-column align-items-center col py-3">
                <span class="text-center pb-3"> Gérez vos états des lieux </span>
                <a href="#" class="nav-item-custom rounded-2">
                    <img class="logo-sizing-index border border-3 rounded-2 border-primary-subtle p-2" src="{{ url_for('static', filename='img/inventories-logo.svg') }}">
                </a>
            </div>
            <div class="d-flex flex-column align-items-center col py-3">
                <span class="text-center pb-3"> Gérez vos finances </span>
                <a href="#" class="nav-item-custom rounded-2">
                    <img class="logo-sizing-index border border-3 rounded-2 border-primary-subtle p-2" src="{{ url_for('static', filename='img/money-logo.svg') }}">
                </a>
            </div>
        </div>
        <div class="mt-5 mb-5">
            <p>
                Pour un accès rapide, retrouverez l'ensemble de ces fonctionnalités depuis le menu latéral de navigation.
            </p>
        </div>
    </main>

{% endblock %}