{% extends "base.html" %}

{% block main %}

    <main>
        <div class="container py-3">
            <div class="row justify-content-between my-4 mx-1 border-bottom border-primary-subtle">
                <h1 class="col-8 fs-5 p-0">Etat des lieux</h1>
                <div class="col-4 d-none d-sm-flex justify-content-end p-0">
                    <a href="{{ url_for('index.index_get') }}" class="link-body-emphasis link-underline link-underline-opacity-0 pe-0">
                        <img src="{{ url_for('static', filename='img/home-logo.svg') }}" class="mb-1">
                        Accueil
                    </a>
                </div>
            </div>
            {% if inventories and inventories|length > 0  %}
                <div class="row mx-1">
                    <div class="d-flex justify-content-between align-items-center p-0 mt-5">
                        {#Large screen create inventory button#}
                        <button class="btn btn-ct-add d-none d-lg-block" data-bs-toggle="modal" data-bs-target="#CreateInventoryModal">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-building-down me-1" viewBox="0 0 16 16">
                                    <path d="M12.5 9a3.5 3.5 0 1 1 0 7 3.5 3.5 0 0 1 0-7Zm.354 5.854 1.5-1.5a.5.5 0 0
                                    0-.708-.708l-.646.647V10.5a.5.5 0 0 0-1 0v2.793l-.646-.647a.5.5 0 0 0-.708.708l1.5 1.5a.5.5
                                    0 0 0 .708 0Z"/>
                                    <path d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v6.5a.5.5 0 0 1-1 0V1H3v14h3v-2.5a.5.5 0 0
                                    1 .5-.5H8v4H3a1 1 0 0 1-1-1V1Z"/>
                                    <path d="M4.5 2a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0
                                    0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0
                                    0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0
                                    0-.5-.5h-1Zm-6 3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0
                                    0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0
                                    0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0
                                    0-.5-.5h-1Zm-6 3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0
                                    0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Z"/>
                                </svg>
                            Ajouter
                        </button>
                        {#small screen create inventory button#}
                        <button class="btn btn-ct-add-s d-block d-lg-none" data-bs-toggle="modal" data-bs-target="#CreateInventoryModal">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                     class="bi bi-building-down" viewBox="0 0 16 16">
                                    <path d="M12.5 9a3.5 3.5 0 1 1 0 7 3.5 3.5 0 0 1 0-7Zm.354 5.854 1.5-1.5a.5.5 0 0
                                    0-.708-.708l-.646.647V10.5a.5.5 0 0 0-1 0v2.793l-.646-.647a.5.5 0 0 0-.708.708l1.5 1.5a.5.5
                                    0 0 0 .708 0Z"/>
                                    <path d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v6.5a.5.5 0 0 1-1 0V1H3v14h3v-2.5a.5.5 0 0
                                    1 .5-.5H8v4H3a1 1 0 0 1-1-1V1Z"/>
                                    <path d="M4.5 2a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0
                                    0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0
                                    0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0
                                    0-.5-.5h-1Zm-6 3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0
                                    0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0
                                    0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0
                                    0-.5-.5h-1Zm-6 3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0
                                    0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Z"/>
                                </svg>
                        </button>
                    </div>
                </div>
                {#Success/Error message#}
                <div class="row mx-1 mt-2">
                    {% with log = get_flashed_messages(with_categories=true) %}
                        {% if log %}
                            {% for category, message in log %}
                                {% if category == "error" %}
                                    <div class="alert alert-danger d-flex align-items-center justify-content-between alert-sizing"
                                         role="alert">
                                        <div>
                                            {{ message }}
                                        </div>
                                        <button type="button"
                                                class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                                        </button>
                                    </div>
                                {% elif category == "success" %}
                                    <div class="alert alert-success d-flex align-items-center justify-content-between alert-sizing"
                                         role="alert">
                                        <div>
                                            {{ message }}
                                        </div>
                                        <button type="button"
                                                class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                                        </button>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
                {#Inventories table#}
                <div class="row mx-1 mb-5 pb-5">
                    <table class="table table-hover col mt-4  shadow-sm">
                        <thead class="table-light">
                            <tr class="text-custom">
                                <th>Visite</th>
                                <th>Type</th>
                                <th class="d-none d-lg-table-cell">Date visite</th>
                                <th class="d-none d-lg-table-cell">Observation</th>
                                <th class="pe-4">Editer</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for inventory in inventories %}
                            <tr class="d-none">
                                <td class="align-middle">
                                    {{ inventory.rental.tenant.full_name }} <br>
                                    {{ inventory.rental.apartment.reference }}
                                </td>
                                <td class="align-middle">
                                    {{ inventory.type_inv }}
                                </td>
                                <td class="align-middle d-none d-lg-table-cell">
                                    {{ inventory.text_inventory_date }}
                                </td>
                                <td class="align-middle d-none d-lg-table-cell">
                                    <button class="btn btn-ct-form" data-bs-toggle="modal" data-bs-target="#observation{{ inventory.inventory_id }}">
                                        Consulter
                                    </button>
                                </td>
                                <td class="align-middle pe-4">
                                    <button type="button" class="btn btn-ct-edit dropdown-toggle" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                        <img src="{{ url_for('static', filename='img/edition-logo.svg') }}"
                                             class="logo-page-tab mb-1">
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li>
                                            <button class="dropdown-item" type="button">
                                                <img src="{{ url_for('static', filename='img/update-logo.svg') }}" class="me-1 mb-1">
                                                Modifier
                                            </button>
                                        </li>
                                        <li>
                                            <button class="dropdown-item" type="button">
                                                <img src="{{ url_for('static', filename='img/delete-logo.svg') }}" class="me-1 mb-1">
                                                Supprimer
                                            </button>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot class="table-light">
                            <tr class="text-custom">
                                <th class="text-center">
                                    <button type="button" class="btn btn-ct-page-tab pb-1 previous-page">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                             class="bi bi-arrow-left" viewBox="0 0 16 16">
                                          <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4
                                          4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                                        </svg>
                                    </button>
                                </th>
                                <th class="d-table-cell d-lg-none page-number"></th>
                                <th colspan="3" class="d-none d-lg-table-cell  page-number"></th>
                                <th class="text-center pe-4">
                                    <button type="button" class="btn btn-ct-page-tab pb-1 next-page">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                             class="bi bi-arrow-right" viewBox="0 0 16 16">
                                          <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1
                                          .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                                        </svg>
                                    </button>
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            {% elif inventories == None %}
                {# Connection error #}
                <div class="row mx-1 mt-2">
                    {% with log = get_flashed_messages(with_categories=true) %}
                        {% if log %}
                            {% for category, message in log %}
                                {% if category == "error" %}
                                    <div class="alert alert-danger d-flex align-items-center justify-content-between alert-sizing-lg"
                                         role="alert">
                                        <div>
                                            {{ message }}
                                        </div>
                                        <button type="button"
                                                class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                                        </button>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
            {% else %}
                {# First creation #}
                <div class="row mx-1 my-5 d-flex justify-content-center">
                    <div class="col-12 col-sm-10 col-md-8 col-lg-6 p-4 my-5 rounded-3 bg-secondary-subtle
                                d-flex align-items-center justify-content-around shadow-sm">
                        <img src="{{ url_for('static', filename='img/inventories-logo.svg') }}"
                         class="logo-sizing-index me-5 p-2">
                        <div class="d-flex flex-column justify-content-around me-2">
                            <div class="fw-semibold text-center mb-4">
                                <span class="me-3">Aucun état des lieux</span> <br>
                                <span class="d-none d-sm-block me-3">Ajouter un premier état des lieux ?</span>
                            </div>
                            <button class="btn btn-ct-add me-3" data-bs-toggle="modal" data-bs-target="#CreateInventoryModal">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-building-down d-none d-sm-inline-block me-1" viewBox="0 0 16 16">
                                    <path d="M12.5 9a3.5 3.5 0 1 1 0 7 3.5 3.5 0 0 1 0-7Zm.354 5.854 1.5-1.5a.5.5 0 0
                                    0-.708-.708l-.646.647V10.5a.5.5 0 0 0-1 0v2.793l-.646-.647a.5.5 0 0 0-.708.708l1.5 1.5a.5.5
                                    0 0 0 .708 0Z"/>
                                    <path d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v6.5a.5.5 0 0 1-1 0V1H3v14h3v-2.5a.5.5 0 0
                                    1 .5-.5H8v4H3a1 1 0 0 1-1-1V1Z"/>
                                    <path d="M4.5 2a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0
                                    0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0
                                    0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0
                                    0-.5-.5h-1Zm-6 3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0
                                    0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0
                                    0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0
                                    0-.5-.5h-1Zm-6 3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0
                                    0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Z"/>
                                </svg>
                                Ajouter
                            </button>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>

        {# Create inventory modal #}
        <div class="modal modal-lg fade rounded-2" id="CreateInventoryModal" tabindex="-1" aria-labelledby="CreateInventoryModalLabel" aria-hidden="true">
            <div class="modal-dialog my-3">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title fs-5" id="CreateInventoryModalLabel">Ajouter un état des lieux</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body position-relative modal-body-inventory">
                        <form class="form-inventory" action="{{url_for('inventory.inventory_create')}}" method="post">
                            <fieldset class="row g-3 m-1 pb-2 border border-primary-subtle rounded-2">
                                <legend class="my-0 py-0 text-custom text-modal-sizing text-center">Location</legend>
                                <div class="col my-1">
                                    <label for="rental_id" class="form-label text-modal-sizing">Location*</label>
                                    <select name="rental_id" id="rental_id" class="form-select form-select-sm rounded-1">
                                        <option></option>
                                        {% if rentals %}
                                            {% for rental in rentals %}
                                                <option value="{{ rental.rental_id }}">
                                                    {{ rental.tenant.full_name }}-{{ rental.apartment.reference }}
                                                </option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                </div>
                            </fieldset>
                            <fieldset class="row g-3 mt-4 m-1 pb-2 border border-primary-subtle rounded-2">
                                <legend class="my-0 py-0 text-custom text-modal-sizing text-center">Etat des lieux</legend>
                                <div class="col-md-6 my-1">
                                    <label for="start_date" class="form-label text-modal-sizing">Type*</label>
                                    <select name="type_inv" id="type_inv" class="form-select form-select-sm rounded-1">
                                        <option></option>
                                            <option>Entrée</option>
                                            <option>Sortie</option>
                                    </select>
                                </div>
                                <div class="col-md-6 my-1">
                                    <label for="inventory_date" class="form-label text-modal-sizing">Date*</label>
                                    <input name="inventory_date" type="date" class="form-control form-control-sm rounded-1" id="inventory_date">
                                </div>
                                <div class="col-12 my-1">
                                    <label for="observation" class="form-label text-modal-sizing">Observation</label>
                                    <textarea name="observation" class="form-control rounded-1" id="observation" rows="3">
                                    </textarea>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-ct-cancel-modal" data-bs-dismiss="modal">Annuler</button>
                        <button type="button" class="btn btn-primary btn-ct-modal submit-inventory">Valider</button>
                    </div>
                </div>
            </div>
        </div>
        {% if inventories and inventories|length > 0  %}
            {% for inventory in inventories %}
                {# Inventory observation #}
                <div class="modal fade" id="observation{{ inventory.inventory_id }}" tabindex="-1"
                     aria-labelledby="InventoryModalLabel" aria-hidden="true" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content rounded-2">
                            <div class="modal-header py-2">
                                <h1 class="modal-title fs-6" id="InventoryModalLabel">
                                    {{ inventory.rental.tenant.full_name }} - {{ inventory.rental.apartment.reference }}
                                </h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p class="observation-ct-content">
                                    {{ inventory.observation }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </main>

{% endblock %}