{% extends "base.html" %}

{% block main %}

    <main>
        <div class="container py-3">
            <div class="row justify-content-between my-4 mx-1 border-bottom border-primary-subtle">
                <h1 class="col-8 fs-5 p-0">Locations</h1>
                <div class="col-4 d-none d-sm-flex justify-content-end p-0">
                    <a href="{{ url_for('index.index_get') }}" class="link-body-emphasis link-underline link-underline-opacity-0 pe-0">
                        <img src="{{ url_for('static', filename='img/home-logo.svg') }}" class="mb-1">
                        Accueil
                    </a>
                </div>
            </div>
            {% if rentals and rentals|length > 0  %}
                <div class="row mx-1">
                    <div class="d-flex justify-content-between align-items-center p-0 mt-5">
                        {#Large screen create rental button#}
                        <button class="btn btn-ct-add d-none d-lg-block" data-bs-toggle="modal" data-bs-target="#CreateRentalModal">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-key me-1" viewBox="0 0 16 16">
                              <path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5
                              1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0
                              1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5
                              0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5
                              0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z"/>
                              <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                            </svg>
                            Ajouter
                        </button>
                        {#small screen create rental button#}
                        <button class="btn btn-ct-add-s d-block d-lg-none" data-bs-toggle="modal" data-bs-target="#CreateRentalModal">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                 class="bi bi-key my-1" viewBox="0 0 16 16">
                              <path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5
                              1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0
                              1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5
                              0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5
                              0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z"/>
                              <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                            </svg>
                        </button>
                    </div>
                </div>
                {#Success/Error message#}
                <div class="row mx-1 mt-2">
                    {% with log = get_flashed_messages(with_categories=true) %}
                        {% if log %}
                            {% for category, message in log %}
                                {% if category == "error" %}
                                    <div class="alert alert-danger d-flex align-items-center justify-content-between alert-sizing"
                                         role="alert">
                                        <div>
                                            {{ message }}
                                        </div>
                                        <button type="button"
                                                class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                                        </button>
                                    </div>
                                {% elif category == "success" %}
                                    <div class="alert alert-success d-flex align-items-center justify-content-between alert-sizing"
                                         role="alert">
                                        <div>
                                            {{ message }}
                                        </div>
                                        <button type="button"
                                                class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                                        </button>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
                {#Rentals table#}
                <div class="row mx-1 mb-5 pb-5">
                    <table class="table table-hover col mt-4  shadow-sm">
                        <thead class="table-light">
                            <tr class="text-custom">
                                <th>Locataire</th>
                                <th>Propriété</th>
                                <th class="d-none d-lg-table-cell">Début du bail</th>
                                <th class="d-none d-lg-table-cell">Fin du bail</th>
                                <th class="pe-4">Editer</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for rental in rentals %}
                            <tr class="d-none">
                                <td class="align-middle">
                                    <button class="btn btn-ct-form" data-bs-toggle="modal"
                                            data-bs-target="#update-tenant{{ rental.tenant.person_id }}">
                                        {{ rental.tenant.full_name }}
                                    </button>
                                </td>
                                <td class="align-middle">
                                    <button class="btn btn-ct-form" data-bs-toggle="modal"
                                            data-bs-target="#update-apartment{{ rental.apartment.property_id }}">
                                        {{ rental.apartment.reference }}
                                    </button>
                                </td>
                                <td class="align-middle d-none d-lg-table-cell">
                                    {{ rental.text_start_date }}
                                </td>
                                <td class="align-middle d-none d-lg-table-cell">
                                    {{ rental.text_end_date }}
                                </td>
                                <td class="align-middle pe-4">
                                    <button type="button" class="btn btn-ct-edit dropdown-toggle" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                        <img src="{{ url_for('static', filename='img/edition-logo.svg') }}"
                                             class="logo-page-tab mb-1">
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li>
                                            <button class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#update{{ rental.rental_id }}">
                                                <img src="{{ url_for('static', filename='img/update-logo.svg') }}" class="me-1 mb-1">
                                                Modifier
                                            </button>
                                        </li>
                                        <li>
                                            <button class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#create-rental{{ rental.rental_id }}">
                                                <img src="{{ url_for('static', filename='img/inventories-logo.svg') }}" class="me-1 mb-1">
                                                Etat des lieux
                                            </button>
                                        </li>
                                        <li>
                                            <button class="dropdown-item" type="button">
                                                <img src="{{ url_for('static', filename='img/money-logo.svg') }}" class="me-1 mb-1">
                                                Paiement
                                            </button>
                                        </li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li>
                                            <button class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#delete{{ rental.rental_id }}">
                                                <img src="{{ url_for('static', filename='img/delete-logo.svg') }}" class="me-1 mb-1">
                                                Supprimer
                                            </button>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot class="table-light">
                            <tr class="text-custom">
                                <th class="text-center">
                                    <button type="button" class="btn btn-ct-page-tab pb-1 previous-page">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                             class="bi bi-arrow-left" viewBox="0 0 16 16">
                                          <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4
                                          4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                                        </svg>
                                    </button>
                                </th>
                                <th class="d-table-cell d-lg-none page-number"></th>
                                <th colspan="3" class="d-none d-lg-table-cell page-number"></th>
                                <th class="text-center pe-4">
                                    <button type="button" class="btn btn-ct-page-tab pb-1 next-page">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                             class="bi bi-arrow-right" viewBox="0 0 16 16">
                                          <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1
                                          .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                                        </svg>
                                    </button>
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            {% elif rentals == None %}
                {# Connection error #}
                <div class="row mx-1 mt-2">
                    {% with log = get_flashed_messages(with_categories=true) %}
                        {% if log %}
                            {% for category, message in log %}
                                {% if category == "error" %}
                                    <div class="alert alert-danger d-flex align-items-center justify-content-between alert-sizing-lg"
                                         role="alert">
                                        <div>
                                            {{ message }}
                                        </div>
                                        <button type="button"
                                                class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                                        </button>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
            {% else %}
                {# First creation #}
                <div class="row mx-1 mt-2">
                    {% with log = get_flashed_messages(with_categories=true) %}
                        {% if log %}
                            {% for category, message in log %}
                                {% if category == "success" %}
                                    <div class="alert alert-success d-flex align-items-center justify-content-between alert-sizing"
                                         role="alert">
                                        <div>
                                            {{ message }}
                                        </div>
                                        <button type="button"
                                                class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                                        </button>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
                <div class="row mx-1 my-5 d-flex justify-content-center">
                    <div class="col-12 col-sm-10 col-md-8 col-lg-6 p-4 my-5 rounded-3 bg-secondary-subtle
                                d-flex align-items-center justify-content-around shadow-sm">
                        <img src="{{ url_for('static', filename='img/rentals-logo.svg') }}"
                         class="logo-sizing-index me-5 p-2">
                        <div class="d-flex flex-column justify-content-around me-2">
                            <div class="fw-semibold text-center mb-4">
                                <span>Aucune Location</span> <br>
                                <span class="d-none d-sm-block">Ajouter une première location ?</span>
                            </div>
                            <button class="btn btn-ct-add" data-bs-toggle="modal" data-bs-target="#CreateRentalModal">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-person-plus mb-1 d-none d-sm-inline-block" viewBox="0 0 16 16">
                                  <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1
                                  1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10
                                  6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                                  <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1
                                  0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                                </svg>
                                Ajouter
                            </button>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>

        {# Create rental modal #}
        <div class="modal modal-lg fade rounded-2" id="CreateRentalModal" tabindex="-1" aria-labelledby="CreateRentalModalLabel" aria-hidden="true">
            <div class="modal-dialog my-3">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title fs-5" id="CreateRentalModalLabel">Ajouter une location</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body position-relative modal-body-rental">
                        <form class="form-rental" action="{{url_for('rental.rental_create')}}" method="post">
                            <fieldset class="row g-3 m-1 pb-2 border border-primary-subtle rounded-2">
                                <legend class="my-0 py-0 text-custom text-modal-sizing text-center">Locations</legend>
                                <div class="col-md-6 my-1">
                                    <label for="start_date" class="form-label text-modal-sizing">Début du bail*</label>
                                    <input name="start_date" type="date" class="form-control form-control-sm rounded-1" id="start_date">
                                </div>
                                <div class="col-md-6 my-1">
                                    <label for="end_date" class="form-label text-modal-sizing">Fin du bail*</label>
                                    <input name="end_date" type="date" class="form-control form-control-sm rounded-1" id="end_date">
                                </div>
                            </fieldset>
                            <fieldset class="row g-3 mt-4 m-1 pb-2 border border-primary-subtle rounded-2">
                                <legend class="my-0 py-0 text-custom text-modal-sizing text-center">Associer</legend>
                                <div class="col-md-6 my-1">
                                    <label for="tenant_id" class="form-label text-modal-sizing">Locataire*</label>
                                    <select name="tenant_id" id="tenant_id" class="form-select form-select-sm rounded-1">
                                        <option></option>
                                        {% if tenants %}
                                            {% for tenant in tenants %}
                                                <option value="{{ tenant.person_id }}">{{ tenant.full_name }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                </div>
                                <div class="col-md-6 my-1">
                                    <label for="apartment_id" class="form-label text-modal-sizing">Appartement*</label>
                                    <select name="apartment_id" id="apartment_id" class="form-select form-select-sm rounded-1">
                                        <option></option>
                                        {% if apartments %}
                                            {% for apartment in apartments %}
                                                <option value="{{ apartment.property_id }}">{{ apartment.reference }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-ct-cancel-modal" data-bs-dismiss="modal">Annuler</button>
                        <button type="button" class="btn btn-primary btn-ct-modal submit-rental">Valider</button>
                    </div>
                </div>
            </div>
        </div>
        {% if rentals and rentals|length > 0 %}
            {% for rental in rentals %}
                {# Update rental modal #}
                <div class="modal modal-lg fade rounded-2" id="update{{ rental.rental_id }}" tabindex="-1" aria-labelledby="UpdateRentalModalLabel" aria-hidden="true">
                    <div class="modal-dialog my-3">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="modal-title fs-5" id="UpdateRentalModalLabel">
                                    {{ rental.tenant.full_name }} - {{ rental.apartment.reference }}
                                </h2>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body position-relative modal-body-rental">
                                <form class="form-rental" action="{{url_for('rental.rental_update', rental_id=rental.rental_id)}}" method="post">
                                    <fieldset class="row g-3 m-1 pb-2 border border-primary-subtle rounded-2">
                                        <legend class="my-0 py-0 text-custom text-modal-sizing text-center">Locations</legend>
                                        <div class="col-md-6 my-1">
                                            <label for="start_date" class="form-label text-modal-sizing">Début du bail*</label>
                                            <input name="start_date" type="date" class="form-control form-control-sm rounded-1"
                                                   id="start_date" value="{{ rental.text_start_date }}">
                                        </div>
                                        <div class="col-md-6 my-1">
                                            <label for="end_date" class="form-label text-modal-sizing">Fin du bail*</label>
                                            <input name="end_date" type="date" class="form-control form-control-sm rounded-1"
                                                   id="end_date" value="{{ rental.text_end_date }}">
                                        </div>
                                    </fieldset>
                                    <fieldset class="row g-3 mt-4 m-1 pb-2 border border-primary-subtle rounded-2">
                                        <legend class="my-0 py-0 text-custom text-modal-sizing text-center">Associer</legend>
                                        <div class="col-md-6 my-1">
                                            <label for="tenant_id" class="form-label text-modal-sizing">Locataire*</label>
                                            <select name="tenant_id" id="tenant_id" class="form-select form-select-sm rounded-1">
                                                <option value="{{ rental.tenant.person_id }}" selected>{{ rental.tenant.full_name }}</option>
                                                {% if tenants %}
                                                    {% for tenant in tenants %}
                                                        <option value="{{ tenant.person_id }}">{{ tenant.full_name }}</option>
                                                    {% endfor %}
                                                {% endif %}
                                            </select>
                                        </div>
                                        <div class="col-md-6 my-1">
                                            <label for="apartment_id" class="form-label text-modal-sizing">Appartement*</label>
                                            <select name="apartment_id" id="apartment_id" class="form-select form-select-sm rounded-1">
                                                <option value="{{ rental.apartment.property_id }}" selected>{{ rental.apartment.reference }}</option>
                                                {% if apartments %}
                                                    {% for apartment in apartments %}
                                                        <option value="{{ apartment.property_id }}">{{ apartment.reference }}</option>
                                                    {% endfor %}
                                                {% endif %}
                                            </select>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-ct-cancel-modal" data-bs-dismiss="modal">Annuler</button>
                                <button type="button" class="btn btn-primary btn-ct-modal submit-rental">Valider</button>
                            </div>
                        </div>
                    </div>
                </div>

                {# Create rental inventory modal #}
                <div class="modal modal-lg fade rounded-2" id="create-rental{{ rental.rental_id }}" tabindex="-1" aria-labelledby="CreateInventoryModalLabel" aria-hidden="true">
                    <div class="modal-dialog my-3">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="modal-title fs-5" id="CreateInventoryModalLabel">Ajouter un état des lieux</h2>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body position-relative modal-body-inventory">
                                <form class="form-inventory" action="{{url_for('rental.rental_inventory_create', rental_id=rental.rental_id)}}" method="post">
                                    <fieldset class="row g-3 mt-2 m-1 pb-2 border border-primary-subtle rounded-2">
                                        <legend class="my-0 py-0 text-custom text-modal-sizing text-center">Etat des lieux</legend>
                                        <div class="col-md-6 my-1">
                                            <label for="start_date" class="form-label text-modal-sizing">Type*</label>
                                            <select name="type_inv" id="type_inv" class="form-select form-select-sm rounded-1">
                                                <option></option>
                                                    <option>Entrée</option>
                                                    <option>Sortie</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6 my-1">
                                            <label for="inventory_date" class="form-label text-modal-sizing">Date*</label>
                                            <input name="inventory_date" type="date" class="form-control form-control-sm rounded-1" id="inventory_date">
                                        </div>
                                        <div class="col-12 my-1">
                                            <label for="observation" class="form-label text-modal-sizing">Observation</label>
                                            <textarea name="observation" class="form-control rounded-1" id="observation" rows="3"></textarea>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-ct-cancel-modal" data-bs-dismiss="modal">Annuler</button>
                                <button type="button" class="btn btn-primary btn-ct-modal submit-inventory">Valider</button>
                            </div>
                        </div>
                    </div>
                </div>

                {# Delete rental modal #}
                <div class="modal fade" id="delete{{ rental.rental_id }}" tabindex="-1" aria-labelledby="DeleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content rounded-2">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="DeleteModalLabel">Supprimer une location</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                            Confirmer la suppression de la location ?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-ct-cancel-modal" data-bs-dismiss="modal">Annuler</button>
                                <a href="{{ url_for('rental.rental_delete', rental_id=rental.rental_id) }}" type="button"
                                   class="btn btn-ct-modal">Confirmer</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

        {# Update tenant modal #}
        {% if tenants %}
            {% for tenant in tenants %}
                <div class="modal modal-lg fade rounded-2" id="update-tenant{{ tenant.person_id }}" tabindex="-1" aria-labelledby="UpdateTenantModalLabel" aria-hidden="true">
                    <div class="modal-dialog my-3">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="modal-title fs-5" id="updateTenantModalLabel">{{ tenant.full_name }}</h2>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body position-relative modal-body-tenant">
                                <form class="form-tenant" action="{{url_for('rental.rental_tenant_update', person_id=tenant.person_id)}}" method="post">
                                    <fieldset class="row g-3 m-1 pb-2 border border-primary-subtle rounded-2">
                                        <legend class="my-0 py-0 text-custom text-modal-sizing text-center">Locataire</legend>
                                        <div class="col-md-4 my-1">
                                            <label for="first_name" class="form-label text-modal-sizing">Prénom*</label>
                                            <input name="first_name" type="text" class="form-control form-control-sm rounded-1"
                                                   id="first_name" value="{{ tenant.first_name }}">
                                        </div>
                                        <div class="col-md-4 my-1">
                                            <label for="last_name" class="form-label text-modal-sizing">Nom*</label>
                                            <input name="last_name" type="text" class="form-control form-control-sm rounded-1"
                                                   id="last_name" value="{{ tenant.last_name }}">
                                        </div>
                                        <div class="col-md-4 my-1">
                                            <label for="birthday" class="form-label text-modal-sizing">Date de naissance*</label>
                                            <input name="birthday" type="date" class="form-control form-control-sm rounded-1"
                                                   id="birthday" value="{{ tenant.text_birthday }}">
                                        </div>
                                        <div class="col-md-6 my-1">
                                            <label for="phone_number" class="form-label text-modal-sizing">Téléphone*</label>
                                            <input name="phone_number" type="tel" class="form-control form-control-sm rounded-1"
                                                   id="phone_number" value="{{ tenant.phone_number }}">
                                        </div>
                                        <div class="col-md-6 my-1">
                                            <label for="email" class="form-label text-modal-sizing">E-mail*</label>
                                            <input name="email" type="email" class="form-control form-control-sm rounded-1"
                                                   id="email" value="{{ tenant.email }}">
                                        </div>
                                        <div class="col-md-6 my-1">
                                            <label for="social_security_number" class="form-label text-modal-sizing">NIR*</label>
                                            <input name="social_security_number" type="text"
                                                   class="form-control form-control-sm rounded-1"
                                                   id="social_security_number" value="{{ tenant.social_security_number }}">
                                        </div>
                                        <div class="col-md-6 my-1">
                                            <label for="annual_salary" class="form-label text-modal-sizing">Salaire annuel*</label>
                                            <input name="annual_salary" type="number"
                                                   class="form-control form-control-sm rounded-1"
                                                   id="annual_salary" value="{{ tenant.annual_salary }}">
                                        </div>
                                        <div class="col-md-6 my-1">
                                            <label for="balance" class="form-label fw-semibold text-modal-sizing">Solde</label>
                                            <input name="balance" type="number"
                                                   class="form-control form-control-sm rounded-1"
                                                   id="balance" value="{{ tenant.balance }}" disabled>
                                        </div>
                                    </fieldset>
                                    <fieldset class="row g-3 mx-1 mt-3 pb-2 border border-primary-subtle rounded-2">
                                        <legend class="my-0 py-0 text-custom  text-modal-sizing text-center">Adresse</legend>
                                        <div class="col-md-10 my-1">
                                            <label for="street_name" class="form-label text-modal-sizing">Nom de voie*</label>
                                            <input name="street_name" type="text" class="form-control form-control-sm rounded-1"
                                                   id="street_name" placeholder="Place de l'Eglise" value="{{ tenant.address.street_name }}">
                                        </div>
                                        <div class="col-md-2 my-1">
                                            <label for="street_number" class="form-label text-modal-sizing">Numéro*</label>
                                            <input name="street_number" type="number" class="form-control form-control-sm rounded-1"
                                                   id="street_number" value="{{ tenant.address.street_number }}">
                                        </div>
                                        <div class="col-12 my-1">
                                            <label for="additional_address" class="form-label text-modal-sizing">Adresse complément</label>
                                            <input name="additional_address" type="text" class="form-control form-control-sm rounded-1"
                                                   id="additional_address" placeholder="Bâtiment, étage, ..." value="{{ tenant.address.additional_address }}">
                                        </div>
                                        <div class="col-md-8 my-1">
                                            <label for="city" class="form-label text-modal-sizing">Ville*</label>
                                            <input name="city" type="text" class="form-control form-control-sm rounded-1"
                                                   id="city" value="{{ tenant.address.city }}">
                                        </div>
                                        <div class="col-md-4 my-1">
                                            <label for="zip_code" class="form-label text-modal-sizing">Code postal*</label>
                                            <input name="zip_code" type="text" class="form-control form-control-sm rounded-1"
                                                   id="zip_code" value="{{ tenant.address.zip_code }}">
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-ct-cancel-modal" data-bs-dismiss="modal">Annuler</button>
                                <button type="button" class="btn btn-ct-modal submit-tenant">Valider</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

        {% if apartments %}
            {% for apartment in apartments %}
                {# Update apartment modal #}
                <div class="modal modal-lg fade rounded-2" id="update-apartment{{ apartment.property_id }}" tabindex="-1" aria-labelledby="UpdateApartmentModalLabel" aria-hidden="true">
                    <div class="modal-dialog my-3">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="modal-title fs-5" id="updateApartmentModalLabel">{{ apartment.reference }}</h2>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body position-relative modal-body-apartment">
                                <form class="form-apartment" action="{{url_for('rental.rental_apartment_update', property_id=apartment.property_id)}}" method="post">
                                    <fieldset class="row g-3 m-1 pb-2 border border-primary-subtle rounded-2">
                                        <legend class="my-0 py-0 text-custom text-modal-sizing text-center">Appartement</legend>
                                        <div class="col-md-8 my-1">
                                            <label for="reference" class="form-label text-modal-sizing">Réference*</label>
                                            <input name="reference" type="text" class="form-control form-control-sm rounded-1"
                                                   id="reference" value="{{ apartment.reference }}">
                                        </div>
                                        <div class="col-md-4 my-1">
                                            <label for="living_area" class="form-label text-modal-sizing">Superficie(m²)*</label>
                                            <input name="living_area" type="number" step="4" class="form-control form-control-sm rounded-1"
                                                   id="living_area" value="{{ apartment.living_area }}">
                                        </div>
                                        <div class="col-md-4 my-1">
                                            <label for="rooms" class="form-label text-modal-sizing">Pièces*</label>
                                            <input name="rooms" type="number" class="form-control form-control-sm rounded-1"
                                                   id="rooms" value="{{ apartment.rooms }}">
                                        </div>
                                        <div class="col-md-4 my-1">
                                            <label for="stage" class="form-label text-modal-sizing">Etage*</label>
                                            <input name="stage" type="number" class="form-control form-control-sm rounded-1"
                                                   id="stage" value="{{ apartment.stage }}">
                                        </div>
                                        <div class="form-check col-12 ms-2 mb-1 mt-3">
                                            {% if apartment.outdoor == False %}
                                                <input name="outdoor" class="form-check-input mt-1" value="false" type="checkbox" id="outdoor">
                                            {% else %}
                                                <input name="outdoor" class="form-check-input mt-1" value="true" type="checkbox" id="outdoor" checked>
                                            {% endif %}
                                            <label class="form-check-label align-text-top text-modal-sizing" for="outdoor">Espace extérieur</label>
                                        </div>
                                    </fieldset>
                                    <fieldset class="row g-3 mx-1 mt-3 pb-2 border border-primary-subtle rounded-2">
                                        <legend class="my-0 py-0 text-custom  text-modal-sizing text-center">Prix</legend>
                                        <div class="col-md-4 my-1">
                                            <label for="rent" class="form-label text-modal-sizing">Loyer*</label>
                                            <input name="rent" type="number" class="form-control form-control-sm rounded-1"
                                                   id="rent" value="{{ apartment.price.rent }}">
                                        </div>
                                        <div class="col-md-4 my-1">
                                            <label for="charge" class="form-label text-modal-sizing">Charges*</label>
                                            <input name="charge" type="number" class="form-control form-control-sm rounded-1"
                                                   id="charge" value="{{ apartment.price.charge }}">
                                        </div>
                                        <div class="col-md-4 my-1">
                                            <label for="security_deposit" class="form-label text-modal-sizing">Dépôt de garantie*</label>
                                            <input name="security_deposit" type="number" class="form-control form-control-sm rounded-1"
                                                   id="security_deposit" value="{{ apartment.price.security_deposit }}">
                                        </div>
                                    </fieldset>
                                    <fieldset class="row g-3 mx-1 mt-3 pb-2 border border-primary-subtle rounded-2">
                                        <legend class="my-0 py-0 text-custom  text-modal-sizing text-center">Adresse</legend>
                                        <div class="col-md-10 my-1">
                                            <label for="street_name" class="form-label text-modal-sizing">Nom de voie*</label>
                                            <input name="street_name" type="text" class="form-control form-control-sm rounded-1"
                                                   id="street_name" placeholder="Place de l'Eglise" value="{{ apartment.address.street_name }}">
                                        </div>
                                        <div class="col-md-2 my-1">
                                            <label for="street_number" class="form-label text-modal-sizing">Numéro*</label>
                                            <input name="street_number" type="number" class="form-control form-control-sm rounded-1"
                                                   id="street_number" value="{{ apartment.address.street_number }}">
                                        </div>
                                        <div class="col-12 my-1">
                                            <label for="additional_address" class="form-label text-modal-sizing">Adresse complément</label>
                                            <input name="additional_address" type="text" class="form-control form-control-sm rounded-1"
                                                   id="additional_address" placeholder="Bâtiment, étage, ..." value="{{ apartment.address.additional_address }}">
                                        </div>
                                        <div class="col-md-8 my-1">
                                            <label for="city" class="form-label text-modal-sizing">Ville*</label>
                                            <input name="city" type="text" class="form-control form-control-sm rounded-1"
                                                   id="city" value="{{ apartment.address.city }}">
                                        </div>
                                        <div class="col-md-4 my-1">
                                            <label for="zip_code" class="form-label text-modal-sizing">Code postal*</label>
                                            <input name="zip_code" type="text" class="form-control form-control-sm rounded-1"
                                                   id="zip_code" value="{{ apartment.address.zip_code }}">
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-ct-cancel-modal" data-bs-dismiss="modal">Annuler</button>
                                <button type="button" class="btn btn-ct-modal submit-apartment">Valider</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </main>

{% endblock %}